<!DOCTYPE html>
<!-- [if IE 8]> <html lang="en" class="ie8 no-js"> <![endif] -->
<!-- [if IE 9]> <html lang="en" class="ie9 no-js"> <![endif] -->
<!-- [if !IE]><! -->
<!-- <html lang="en"> -->
<!-- <![endif] -->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8">
    <title>我发工资 | 登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <#include "/common/commonContext.html">
    <link rel="icon" href="${ctx}/metronic/global/img/58gongzi-3.png" type="image/x-icon" />
    <link rel="shortcut icon" href="${ctx}/metronic/global/img/58gongzi-3.png" type="image/x-icon" />
    <script src="${ctx}/metronic/global/plugins/loading.js" type="text/javascript"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
          type="text/css">
    <link href="${ctx}/metronic/mobile/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/uniform.default.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/bootstrap-switch.min.css">
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/components.min.css" id="style_components" type="text/css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/plugins.min.css">
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/layout.min.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/light.min.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/custom.min.css">
    <!-- END THEME LAYOUT STYLES -->

    <!-- <link href="/metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="${ctx}/metronic/mobile/css/copybootrstap.css">
    <!-- <link href="/plugins/layer/skin/layer.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="${ctx}/metronic/mobile/layer/skin/layer.css">
    <link rel="stylesheet" href="${ctx}/metronic/mobile/user/login.css">
    <!-- mask -->

    <style>
        /* 分页组件输入框的样式，保证高度的统一 */
        .pagination .controls input {
            border: 0;
            color: #999;
            width: 30px;
            padding: 0;
            text-align: center;
        }
    </style>

    <!-- <link rel="shortcut icon" href="favicon.ico">BEGIN PAGE LEVEL STYLES -->
    <!-- <link href="/metronic/pages/css/login.min.css" rel="stylesheet" type="text/css"> -->
    <!-- END PAGE LEVEL STYLES -->
    <!--[if lt IE 9]>
    <script src="/metronic/global/plugins/respond.min.js"></script>
    <script src="/metronic/global/plugins/excanvas.min.js"></script>
    <![endif] -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="${ctx}/metronic/global/plugins/jsbridge-mini.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/jquery-2.1.3.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/jsbridge-mini.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/js.cookie.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/js.cookie.min.js" type="text/javascript"></script>
    <!-- <script src="/metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->

    <!-- <script src="/metronic/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script> -->
    <!-- END CORE PLUGINS -->

    <!-- BEGIN COMMON PAGE LEVEL PLUGINS -->
    <script src="${ctx}/metronic/mobile/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="${ctx}/metronic/mobile/js/messages_zh.min.js" type="text/javascript"></script>
    <!-- <script src="/metronic/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/jquery-validation/js/localization/messages_zh.min.js" type="text/javascript"></script> -->
    <!-- END COMMON PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="${ctx}/metronic/mobile/js/app.min.js" type="text/javascript"></script>
    <!-- <script src="/metronic/global/scripts/app.min.js" type="text/javascript"></script> -->
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="${ctx}/metronic/mobile/js/layouts.js" type="text/javascript"></script>
    <!-- <script src="/metronic/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script> -->
    <!-- <script src="/metronic/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script> -->
    <!-- <script src="/metronic/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script> -->
    <!-- END THEME LAYOUT SCRIPTS -->

    <!-- <script src="/metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script> -->
    <script src="${ctx}/metronic/mobile/js/components-date-time-picker.min.js" type="text/javascript"></script>
    <!-- jQuery mask -->
    <script src="${ctx}/metronic/mobile/layer/layer.js"></script>
    <!-- jQuery new added -->
    <script src="${ctx}/metronic/mobile/js/card.js" type="text/javascript"></script>

    <!-- END mask -->

    <!--[if lt IE 10]>
    <meta http-equiv="Refresh" content="0; url=/browserNotMatch" />
    <![endif]-->

    <style type="text/css">
        .error-color {
            font-weight: bold;
            color: #f50000
        }

        input::-webkit-input-placeholder {
            color: #999;
            -webkit-transition: color.5s;
        }

        input:focus::-webkit-input-placeholder,
        input:hover::-webkit-input-placeholder {
            color: #c2c2c2;
            -webkit-transition: color.5s;
        }
    </style>
    <script type="text/javascript">
        function firmselect() {
            var t_Ewallet_titleName_val = $("#t_Ewallet_titleName").find("option:selected").text();
            console.log(t_Ewallet_titleName_val);
            window.location.href = "${ctx}/StaffPrepayApplicationController/staffPrepayApplicationNew";
            // window.location.href = '${ctx}/StaffPrepayApplicationController/staffPrepayApplicationNew?t_Ewallet_titleName=' + t_Ewallet_titleName_val;
        }
    </script>

</head>
<!-- END HEAD -->

<body>
<div class=" login">
    <div class="menu-toggler sidebar-toggler"></div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html"> <img id="logo_login" src="${ctx}/metronic/mobile/imgs/login-banner.png">
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form id="firmListForm" class="login-form" novalidate="novalidate">
            <h3 class="select-title" style="text-align: center">请选择</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span></span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9"></label>
            </div>
            <div class="form-group">
                <select class="bs-select form-control" data-live-search="true" name="t_Ewallet_titleName" id="t_Ewallet_titleName">
                    <#list t_P_FirmLists as t_P_FirmLists>
                    <option class="bs-option" value="${t_P_FirmLists.t_P_Company}">${t_P_FirmLists.t_P_Company}</option>
                </#list>
                </select>
            </div>
            <div id="msg"></div>
            <div class="form-actions">
                <button class="btn btn-green uppercase togomaincon" onclick="firmselect()">确定</button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <script src="${ctx}/metronic/mobile/user/changestyle.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            mobileview();
            indexstyle();
            eyectl();
            //适配
            var client_width = document.documentElement.clientWidth
            if (client_width == 320) {
                $('.content').addClass("width300")
                $('.logo').addClass("logo_s")
            } else {
                $(".content").removeClass("width300")
                $('.logo').removeClass("logo_s")
            }
        })
        function indexstyle() {
            //console.log(domwhos1)
            indexStyle({
                bodyColor: "#EDF3F9",//body背景色
                loginColor: "#1490FF", //登录头部背景色
                logoSrc: "${ctx}/metronic/mobile/imgs/login-banner.png", //logo图片地址
                formTitleColor: "#3E4A59", //表单标题字体颜色
                loginBtnBg: "linear-gradient(to right, #1490FF 0%,#007AE8 100%)", //登录按钮背景色
                loginBtnCl: "#fff", //按钮字体颜色
                copyRightCl: "#242424", //QQ客服字体颜色
                iconUserImg: "${ctx}/metronic/mobile/imgs/user-name.png", //用户图标
                iconPWImg: "${ctx}/metronic/mobile/imgs/pwd.png", //密码图标
            });
        }

        function mobileview() {
            var userAgentInfo = navigator.userAgent;
            var mobileview = true;
            var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
            var mobileview = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    mobileview = false;
                    break;
                }
            }
            return mobileview;
        }

    </script>
</body>

</html>