<!DOCTYPE html>
<html lang="en">
<head>
    <title>申请</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-----------------------------------       Common Call      --------------------------->
<#include "/common/weUIcss.html">
<#include "/common/weUIjs.html">

<!-- 自定义脚本 -->

<script>
    $(function () {
        FastClick.attach(document.body);
    });
    
	function openUserGuide(){
		var openWindowWidth = $(document).width() * 0.98 + "px";
		var offsetH = ($(window).height()/2 - 50 > 120 ? 120 : $(window).height()/2 - 50) + "px";
		layer.open({
			type: 2,
			area: openWindowWidth,
			offset : offsetH,
			fix: false, //不固定	
			maxmin: true,
			content: '${ctx}/UserGuide'
			});
    }

</script>

<script type="text/javascript">       
	var countdown = 60;			
	var submitting = false;
	var submitTimer = null;

	console.log($('#Prepaybutton'));

	function PrepaySubmit() {

				if ($("input#t_Txn_ApplyPrepayAmount").val() === "" || $("input#t_Txn_ApplyPrepayAmount").val() < 10 ){
					document.getElementById("t_Txn_ApplyPrepayAmount").value = "";
					document.getElementById("t_Txn_CreditPrepayBalanceNum").value = "";
					document.getElementById("t_Prepay_ServiceFee_Total").value = "";
					$.toptip('请输入大于10的金额', 'error');
					$("#t_Txn_ApplyPrepayAmount").focus();
					return;
				}

				if ($("input#SMScode").val() == ""){
					$.toptip('请输入验证码', 'error');
					$("#SMScode").focus();
					return;
				}
				
				var isAgree = $("input#agreement").is(':checked');
				if (!isAgree) {
					$.toptip('请同意协议与条例', 'error');
					return;	
				}
				
				if (submitting) {
					return;
				}

				clearTimeout(submitTimer);

				submitTimer = setTimeout(function () {

					// var mask = $.toast("支付中...", "loading");
					var mask = $.showLoading("支付中...");
					var formData = new FormData($('#inputForm')[0]);
					
					submitting = true;

					$.ajax({
						url: "${ctx}/StaffPrepayApplicationController/addStaffPrepayApplication?operationType=add&SMScode=" + $("#SMScode").val() +
						     "&t_Txn_ApplyPrepayAmount=" + $("#t_Txn_ApplyPrepayAmount").val() +
							 "&t_Txn_CreditPrepayCurrentNum=" + $("#t_Txn_CreditPrepayCurrentNum").val() +
							 "&t_Txn_CreditPrepayBalanceNum=" + $("#t_Txn_CreditPrepayBalanceNum").val() +
							 "&t_P_PayrollDate=" + $("#t_P_PayrollDate").val() +
							 "&tTxnPrepayDays=" + $("#tTxnPrepayDays").val() +
							 "&tTxnInterest=" + $("#tTxnInterest").val() +
							 "&SMScodeRec=" + $("#SMScodeRec").val() +
							 "&agreement=" + $("#agreement").val() +
							 "&t_FProd_Interest=" + $("#t_FProd_Interest").val() +
							 "&t_FProd_ServiceFee=" + $("#t_FProd_ServiceFee").val() +
							 "&t_FProd_Poundage=" + $("#t_FProd_Poundage").val() +
							 "&t_FProd_Name=" + $("#t_FProd_Name").val(),
						type: 'POST',
						data: formData,
						cache: false,
						contentType: false,
						processData: false,
						ifModified: true,

						success: function (data) {
							var result = eval("("+data+")");
							$.toast(result.msg, "sucess");
							submitting = false;
						},

						error: function (data) {
							try {
								var result = eval("("+data+")");
								$.toast(result.msg, "sucess");
							} catch(e) {
								$.toast('系统异常', "cancel");
							}
							
							submitting = false;
						},

						complete: function (req, textStatus) {
							$("#t_Txn_ApplyPrepayAmount, #SMScode").val('');
							window.location.href = "${ctx}/StaffPrepayApplicationController/staffPrepayApplicationNew";
							layer.close(mask);
							submitting = false;
						} 
					});
				}, 200);
			 }
								
		$("#dirParent, #menuParent, #linkDiv").hide();

		function ProdOnChange() {
			$.ajax({
				url: "${ctx}/StaffPrepayApplicationController/CalcBalanceCredit?t_Txn_ApplyPrepayAmount=" + $("#t_Txn_ApplyPrepayAmount").val() +
					"&t_Txn_CreditPrepayCurrentNum=" + $("#t_Txn_CreditPrepayCurrentNum").val() +
					"&t_P_PayrollDate=" + $("#t_P_PayrollDate").val().toString() +
					"&t_FProd_Interest=" + $("#t_FProd_Interest").val() +
					"&t_FProd_ServiceFee=" + $("#t_FProd_ServiceFee").val() +
					"&t_FProd_Poundage=" + $("#t_FProd_Poundage").val() +
					"&t_FProd_Name=" + $("#t_FProd_Name").val(),
				type: 'POST',
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function(dataFP) {
					var result = eval("(" + dataFP + ")");
					if(result.ret == "0" && result.t_Txn_CreditPrepayBalanceNum >= 0) {
						$("#t_Prepay_ServiceFee_Total").val(result.t_Prepay_ServiceFee_Total);
						$("#t_Txn_CreditPrepayBalanceNum").val(result.t_Txn_CreditPrepayBalanceNum);
						$("#tTxnPrepayDays").val(result.tTxnPrepayDays);
						$("#tTxnInterest").val(result.tTxnInterest);
					} else {
						$.toptip('请输入有效数额,或您的当月预支额度已用完', 'error');
						document.getElementById("t_Txn_ApplyPrepayAmount").value = "";
						document.getElementById("t_Txn_CreditPrepayBalanceNum").value = "";
						document.getElementById("t_Prepay_ServiceFee_Total").value = "";
					}
				},
				error: function(dataFP) {
					document.getElementById("t_Txn_ApplyPrepayAmount").value = "";
					document.getElementById("t_Txn_CreditPrepayBalanceNum").value = "";
				}
			});
		}

		function PrepayAmountChange() {
			
			var a = $("input#t_Txn_CreditPrepayCurrentNum").val().toFormatString;
			var b = "￥";
			var str = b + a;
			$("input#t_Txn_CreditPrepayCurrentNum").innerhtml = str;
			
			if ($("input#t_Txn_ApplyPrepayAmount").val() == "" || $("input#t_Txn_ApplyPrepayAmount").val() < 10 ){
				$.toptip('请输入大于10的金额', 'error');
				$("#t_Txn_ApplyPrepayAmount").focus();
				return;
			}
			$.ajax({
				url: "${ctx}/StaffPrepayApplicationController/CalcBalanceCredit?t_Txn_ApplyPrepayAmount=" + $("#t_Txn_ApplyPrepayAmount").val() +
					"&t_Txn_CreditPrepayCurrentNum=" + $("#t_Txn_CreditPrepayCurrentNum").val() +
					"&t_P_PayrollDate=" + $("#t_P_PayrollDate").val().toString() +
					"&t_FProd_Interest=" + $("#t_FProd_Interest").val() +
					"&t_FProd_ServiceFee=" + $("#t_FProd_ServiceFee").val() +
					"&t_FProd_Poundage=" + $("#t_FProd_Poundage").val() +
					"&t_FProd_Name=" + $("#t_FProd_Name").val(),
				type: 'POST',
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function(dataC) {
					var result = eval("(" + dataC + ")");
					if(result.ret == "0" && result.t_Txn_CreditPrepayBalanceNum >= 0) {
						$("#t_Prepay_ServiceFee_Total").val(result.t_Prepay_ServiceFee_Total);
						$("#t_Txn_CreditPrepayBalanceNum").val(result.t_Txn_CreditPrepayBalanceNum);
						$("#tTxnPrepayDays").val(result.tTxnPrepayDays);
						$("#tTxnInterest").val(result.tTxnInterest);
					} else {
						$.toptip('请输入有效数额,或您的当月预支额度已用完', 'error');
						document.getElementById("t_Txn_ApplyPrepayAmount").value = "";
						document.getElementById("t_Txn_CreditPrepayBalanceNum").value = "";
						document.getElementById("t_Prepay_ServiceFee_Total").value = "";
					}
				},
				error: function(dataC) {
					document.getElementById("t_Txn_ApplyPrepayAmount").value = "";
					document.getElementById("t_Txn_CreditPrepayBalanceNum").value = "";
				}
			});
		}

		function SMSonchange() {
			$.ajax({
				url: "${ctx}/StaffPrepayApplicationController/SMSCheck?SMScode=" + $("#SMScode").val() +
					"&SMScodeRec=" + $("#SMScodeRec").val(),
				type: 'POST',
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function(dataSMSC) {
					var result = eval("(" + dataSMSC + ")");
					if(result.ret == "0" && result.SMSVerified == "Y") {
						$("#SMScodeRec").val(result.SMScodeRec);
					} else {
						$.toptip('请输入正确验证码', 'error');
						document.getElementById("SMScode").value = "";
					}
				},
				error: function(dataSMSC) {
					var result = eval("(" + dataSMSC + ")");
					$.toast(result.msg, "cancel");
				}
			});
		}

	function typeSelector(selector) {
		var typeSelect = $(selector).find("option:selected").val();
		if(typeSelect == "" || typeSelect == "0") {
			$("#dirParent").hide();
			$("#menuParent").hide();
			$("#parentId").val("");
			$("#linkDiv").hide();
			$("#link").val("");
		} else if(typeSelect == "1") {
			$("#dirParent").show();
			$("#menuParent").hide();
			setParentId($("#dirParentSelector"));
			$("#linkDiv").show();
		} else if(typeSelect == "2") {
			$("#dirParent").hide();
			$("#menuParent").show();
			setParentId($("#menuParentSelector"));
			$("#linkDiv").hide();
			$("#link").val("");
		}
	}

	function SMSCall() {
		$.ajax({
			url: "${ctx}/StaffPrepayApplicationController/SMSReq?t_Txn_Mobil=" + $("#t_Txn_Mobil").val(),
			type: 'POST',
			async: true,
			cache: false,
			contentType: false,
			processData: false,
			success: function(dataSMS) {
				var result = eval("(" + dataSMS + ")");
				if(result.ret == "0" && result.SMScodeRec != null) {
					$.toast(result.msg, "sucess");
					$("#SMScodeRec").val(result.SMScodeRec);
					var countdown = 60;
					settime();
					function settime() {
						if(countdown == 0) {
							document.getElementById("SMSbutton").disabled = false;
							document.getElementById("SMSbutton").innerHTML = "获取验证码";
						} else {
							document.getElementById("SMSbutton").disabled = true;
							document.getElementById("SMSbutton").innerHTML = "重新发送(" + countdown + ")";
							SMSbutton.value = "重新发送(" + countdown + ")";
							countdown--;
							setTimeout(function() {
								settime();
							}, 1000)
						}
					}
				}
			},
			error: function(dataSMS) {
				var result = eval("(" + dataSMS + ")");
				alert(result.msg);
			}
		});
	}

	function closeme() {
		window.parent.location.href = "${ctx}/login";
	}
	
	function ForbiddenPrepaybutton() {
		window.location.href = "${ctx}/login";
	}
	
	
</script>
</head>

<body ontouchstart>


<!-- 框架连接 https://jqweui.cn/components#preview -->
<h1 class="form-title">工资预支</h1>
<!-- <form id="inputForm"> -->
<div class="weui-cells weui-cells_form">
<div class="bgPic">
	<div style="visibility: none;">
			<input name="t_FProd_Interest" id="t_FProd_Interest" type="hidden" value="${staffPrepayApplicationNew.t_FProd_Interest}" />
			<input name="t_FProd_ServiceFee" id="t_FProd_ServiceFee" type="hidden" value="${staffPrepayApplicationNew.t_FProd_ServiceFee}" />
			<input name="t_FProd_Poundage" id="t_FProd_Poundage" type="hidden" value="${staffPrepayApplicationNew.t_FProd_Poundage}" />
			<input name="tTxnPrepayDays" id="tTxnPrepayDays" type="hidden" value="{tTxnPrepayDays}" />
			<input name="tTxnInterest" id="tTxnInterest" type="hidden" value="{tTxnInterest}" />
			<input name="t_P_PayrollDate" id="t_P_PayrollDate" type="hidden" value="${staffPrepayApplicationNew.t_P_PayrollDate.toString()}" />
			<input name="SMScodeRec" id="SMScodeRec" type="hidden" value="${SMScodeRec}" />
			<input name="operationType" id="operationType" type="hidden" value="${operationType}" />
	</div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">用户名：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="t_P_Name" value="${staffPrepayApplicationNew.t_P_Name}" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">身份证：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="t_Txn_PrepayApplierPID" value="${staffPrepayApplicationNew.t_P_PID}" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">公司名：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="t_P_Company" value="${staffPrepayApplicationNew.t_P_Company}" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">工资卡号：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="t_P_CompanyNum" value="${staffPrepayApplicationNew.t_P_PayrollDebitcardNum}" readonly>
        </div>
    </div>
     <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">手机号：</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="t_Txn_Mobil" value="${staffPrepayApplicationNew.t_P_Mobil}" id="t_Txn_Mobil" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">预支工资基数：</label></div>
        <!-- 有 money 类名，表示该内容会自动显示￥，不适用于金额显示的话，请去掉该类名 -->
        <div class="weui-cell__bd money">
            <input class="weui-input" type="text" name="t_P_CreditPrepaySalaryAmount" value="${staffPrepayApplicationNew.t_P_CreditPrepaySalaryAmount.toString()}"  readonly>
        </div>
    </div>
    </div>
    <div class="weui-cell top-border">
        <div class="weui-cell__hd"><label class="weui-label">当前可预支数：</label></div>
        <div class="weui-cell__bd money">
            <!-- total 表示金额用绿色 -->
            <input class="weui-input total text-right"  type="text" name="t_Txn_CreditPrepayCurrentNum" id="t_Txn_CreditPrepayCurrentNum" value="${staffPrepayApplicationCredit.t_Txn_CreditPrepayCurrentNum.toString()}" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">剩余可预支数：</label></div>
        <div class="weui-cell__bd money">
            <!-- balance 表示金额用红色 -->
            <input class="weui-input balance text-right"type="text" name="t_Txn_CreditPrepayBalanceNum" id="t_Txn_CreditPrepayBalanceNum" readonly>
        </div>
    </div>
    <div class="weui-cell ">
        <div class="weui-cell__hd"><label class="weui-label">服务收费：</label></div>
        <div class="weui-cell__bd money">
            <!-- balance 表示金额用红色 --><input class="weui-input text-right" type="text" name="t_Prepay_ServiceFee_Total" id="t_Prepay_ServiceFee_Total" readonly>
        </div>
    </div>

    <div class="weui-cell weui-cell_select weui-cell_select-after top-border">
        <div class="weui-cell__hd">
            <label for="select" class="weui-label">产品名：</label>
        </div>
        <div class="weui-cell__bd">
            <!-- 根据需要修改表单name -->
            <select class="weui-select" name="select" id="t_FProd_Name" onchange="ProdOnChange()">
                <!-- 根据需要增加选项和对应值 -->
                <#list StaffPrepayApplicationFPROD as StaffPrepayApplicationFPRODList>
					<option value="${StaffPrepayApplicationFPRODList.t_FProd_ID}">${StaffPrepayApplicationFPRODList.t_FProd_Name}</option>
				</#list>
            </select>
        </div>
    </div>

    <!-- weui-cell_warn 为报错提示类，增加后 -->
    <div class="weui-cell" id="wantMoney">
        <div class="weui-cell__hd ">
            <label for="money"  class="weui-label">预支金额：</label>
        </div>
        <div class="weui-cell__bd">
            <!-- 预设正则 -->
            <input class="weui-input" type="text" pattern="^[1-9]\d*\.\d*|0\.\d*[1-9]\d*$" 
            placeholder="请输入预支金额" name="t_Txn_ApplyPrepayAmount" id="t_Txn_ApplyPrepayAmount" onchange="PrepayAmountChange()">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode" id="GetSMScode">
        <div class="weui-cell__hd">
            <label for="SMScode" class="weui-label">验证码:</label>
        </div>
        <div class="weui-cell__bd">
            <input name="SMSCode" id="SMScode" class="weui-input" type="text" placeholder="请输入验证码"  onchange="SMSonchange()">
            <!-- 容器添加 weui-cell_warn 类时，该 icon 显示  -->
            <i class="weui-icon-warn"></i>
        </div>
        <div class="weui-cell__ft">
            <!-- js交互请自行添加 -->
            <button class="weui-vcode-btn" Name="SMSbutton" id="SMSbutton" onclick="SMSCall()">获取验证码</button>
        </div>
    </div>
</div>
<div class="agree">
    <label class="weui-agree agree_l">
        <!-- 该选择内容不需要加在表单内，请单独处理交互 -->
        <input id="agreement" name="agreement" type="checkbox" class="weui-agree__checkbox">
        <span class="weui-agree__text">已阅读并同意</span>
    </label>
    <span class="weui-agree weui-agree__text">
        <!-- 协议不需要自己写交互，已处理 -->
        <a href="javascript:return;" class="open-popup show_agree" data-target="#showAgree">《相关协议与条例》</a>
    </span>
</div>
<!-- </form> -->

<div class="weui-btn-area" >
	<button name ="Prepaybutton" id="Prepaybutton" class="weui-btn weui-btn_primary" onclick="PrepaySubmit()" />支取</button>
	<button name ="PrepayCancel" id="PrepayCancel" class="weui-btn weui-btn_default" name ="PrepayCancel" id="PrepayCancel" type="button" onclick="closeme()" />取消</button>
</div>

<!-- 协议内容弹层，有调整的话，修改下面的内容即可，不需要 iframe 引入 -->
<div id="showAgree" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:void(0);" class="picker-button close-popup">关闭</a>
                <h1 class="title">相关协议与条例</h1>
            </div>
        </div>
        <div class="modal-content">

            <h3>员工预支（灵活薪酬)工资规则</h3>

            <p>本协议为申请人认可工资预支之以下条条款，并遵守企业财务与人事制度下的预支工资制度。</p>
            <p>如申请人在企业服务期间有任何不符合用人单位要求或违反用人单位规章制度的，都将不适用此员工工资产品。</p>
            <p>为关心和支持公司员工的日常生活，让员工能安心努力的工作，特制定以下本司员工预支工资规则：</p>
            <h4>一、预支条件：</h4>
            <p>1、入职我公司且过试用期后的一年及一年以上合同员工;</p>
            <p>2、入职以来无不良影响或旷工记录的；</p>
            <h4>二、允许预支金额：</h4>
            <p>每位符合以上条件的员工，一个月预支金额不得超过本人当前（当月未发）工资的100%，且最高限额为10000元。</p>
            <p>例：员工张三4月份未发工资为5000元，每月发薪日为25日.</p>
            <p>当前为4月1日，则张三如选择"随薪得"产品且预支一个月全额(可以根据实际情况填写预支数额)工资,</p>
            <p>当天可预支金额为：5000-216（费用）= 4784元。</p>
            <p>如预支数额小于一月工资，系统将会根据填入的具体预支金额数,自动扣去服务费、手续费、交易费（如有）,计算后显示所剩可预支金额数。</p>
            <h4>三、预支时间：</h4>
            <p>前一月发薪日后一天开始可以预支下一月的工资直至下月发薪日截止。最长为31天。</p>
            <h4>四、预支方式：</h4>
            <p>1.登陆企业微信号,或网站自行申请。</p>
            <p>2.发放工资日,前往财务，由财务登陆系统代为填写暂支单并打印明细由财务告知、预支工资员工本人的邮箱或短信通知。</p>
            <p>3.如去除各项费用后已预支完当月工资数额，则当月发薪日不再发放工资。如已预支金额不满的当月税后工资,余额部分将会在发薪日自动发放到工资卡。</p>

            <p class="agree_footer">
                <span>制定：企业人事</span>
                <span>核实：企业人事,财务</span>
            </p>

        </div>
    </div>
</div>

<div class="weui-footer">
    <!-- 更多链接，根据需要增加a标签 -->
    <p class="weui-footer__links">
        <a href="${ctx}/HistoricalTxnQueryController/historicalTxnQueryList" class="weui-footer__link">历史记录</a>
        <a href="${ctx}/userGuide" class="weui-footer__link">使用帮助</a>
    </p>
    <p class="weui-footer__text">2020 @ Goldman Fuks Information and Technology Services Co., ltd</p>
</div>
</body>
</html>