body {
    color: #34495e;
    padding: 0!important;
    margin: 0!important;
    direction: "ltr";
    font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    text-indent: -10000px;
    background-image: url(../img/remove-icon-small.png) !important;
    outline: 0px;
    background-repeat: no-repeat !important;
}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.alert .alert-link, .close {
    font-weight: 700;
}
.alert {
    border-width: 1px;
}
.display-hide, .display-none {
    display: none;
}
.alert-danger {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert, .thumbnail {
    margin-bottom: 20px;
}

/* lable */
.control-label {
    font-weight: 400;
    position: absolute;
    display: inline-block!important;
    margin-top: 12px;
}

.visible-ie9 {
    display: none;
}
.visible-ie8 {
    display: none;
}
label {
    font-weight: 400;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.form-control {
    outline: 0!important;
}

.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn {
    outline: 0!important;
}
.uppercase {
    text-transform: uppercase!important;
}
.btn, .form-control {
    box-shadow: none!important;
}