<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>新增用户</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<#include "/common/cssResource.html"> 
<#include "/common/jsResource.html">

<script type="text/javascript">
jQuery.validator.addMethod("isIdCardNo", function(value, element) { 
    return this.optional(element) || idCardNoUtil.checkIdCardNo(value);     
}, "请正确输入您的身份证号码"); 

jQuery.validator.addMethod("IDCard", function(value, element) {     
    var tel =/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;  
    return this.optional(element) || (tel.test(value));  
}, "请输入有效的身份证号码");  

	$(document).ready(function() {
		var form = $('#inputForm');
		form.validate({
			errorElement : 'span', //default input error message container
			errorClass : 'help-block help-block-error', // default input error message class
			focusInvalid : false, // do not focus the last invalid input
			rules : {
				userName : {
					minlength : 4,
					maxlength : 50,
					required : true,
					remote : "${ctx}/jqueryValidateController/checkManagerUserName"
				},
				password : {
					minlength : 6,
					maxlength : 12,
					required : true,
					isPwd : true
				},
				passwordConfirm : {
					minlength : 6,
					maxlength : 12,
					required : true,
					equalTo : "#password"
				},
				realName : {
					maxlength : 50,
					required : true
				},
				mobile : {
					maxlength : 50,
					required : true,
					isMobilePhone : true
				},
				telephone : {
					maxlength : 18,
					IDCard : true
				},
				email : {
					maxlength : 100,
					required : true,
					isEmail : true
				}
			},
			messages: {
				userName: {remote : "用户名已存在"}
			},

			invalidHandler : function(event, validator) { //display error alert on form submit              
				App.scrollTo(form, 0);
			},

			highlight : function(element) { // hightlight error inputs
				$(element).closest('.form-group').removeClass(
						"has-success").addClass('has-error'); // set error class to the control group   
			},

			unhighlight : function(element) { // revert the change done by hightlight

			},

			success : function(label, element) {
				var icon = $(element).parent('.input-icon').children(
						'i');
				$(element).closest('.form-group').removeClass(
						'has-error').addClass('has-success'); // set success class to the control group
				icon.removeClass("fa-warning").addClass("fa-check");
			},

			submitHandler : function(form) {
				var formData = new FormData($('#inputForm')[0]);
				$.ajax({
					url : "${ctx}/managerController/addManager",
					type : 'POST',
					data : formData,
					async : true,
					cache : false,
					contentType : false,
					processData : false,
					success : function(data) {
						var result = eval("(" + data + ")");
						parent.window.location.reload();
						var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
						parent.layer.close(index);
					},
					error : function(data) {
						var result = eval("(" + data + ")");
						alert(result.msg);
					}
				});
			}
		});
	});
	
</script>

</head>
<body>
	<div class="portlet light bordered">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form id="inputForm" class="form-horizontal form-row-seperated">
				<input type="hidden" name="remark" value="${manager.remark}" />
				<div class="form-body">
					<div class="form-group">
						<label class="control-label col-sm-3">用户名 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="userName" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">密码 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="password" class="form-control"
									id="password" name="password" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">确认密码 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="password" class="form-control"
									name="passwordConfirm" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">真实姓名 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="realName" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">公司名 <span
							class="required"> * </span>
						</label>
                        <div class="col-sm-9">
                            <select class="bs-select form-control" data-live-search="true" name="t_P_VendorEmployeeName" id="t_P_VendorEmployeeName">
                                <#list OrganizationInfo as OrganizationInfo>
                                <option value="${OrganizationInfo.t_O_OrgName}">${OrganizationInfo.t_O_OrgName}</option>
                            </#list>
                            </select>
                        </div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">手机 <span
							class="required"> * </span></label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="mobile" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">身份证 </label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="telephone" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">邮箱 <span
							class="required"> * </span></label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="email" />
							</div>
						</div>
					</div>
					<@shiro.hasPermission name="MANAGER_GRANT_ROLE">
					<div class="form-group">
						<label class="control-label col-sm-3">备注 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i><textarea style="width:1000px;height:88px;" class="form-control"
									name="remark"></textarea>
							</div>
						</div>
					</div>
					</@shiro.hasPermission>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-9">
							<button type="submit" class="btn green">提交</button>
							<button type="button" class="btn default" onclick="parent.layer.closeAll();">取消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END FORM-->
	</div>
</body>
</html>