<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title></title>
  -->
</head>
<body>
	<!-- BEGIN PAGE BASE CONTENT -->
	<div class="row">
		<div class="col-sm-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet-body">
						<tbody>
							<tr>
							<br>
							<br>
							<textarea rows="300" cols="200" readonly>
							
							员工预支（灵活薪酬)工资规则
							
本协议为申请人认可工资预支之以下条条款，并遵守企业财务与人事制度下的预支工资制度。
如申请人在企业服务期间有任何不符合用人单位要求或违反用人单位规章制度的，都将不适用此员工金融产品。
为关心和支持公司员工的日常生活，让员工能安心努力的工作，特制以下本司员工预支工资规则：
一、预支条件：
1、入职我公司且过试用期后的一年及一年以上合同员工;
2、入职以来无不良影响或旷工记录的；
二、允许预支金额：
每位符合以上条件的员工，一个月预支金额不得超过本人当前（当月未发）工资的100%，且最高限额为10000元。
例：员工张三4月份未发工资为5000元，每月发薪日为25日，当前为4月1日，则张三如选择"随薪得"产品且预支一个月全额(可以根据实际情况填写预支数额)工资，当天可预支金额为：5000-216（费用）= 4784元。
如预支数额小于一月工资，系统将会根据填入的具体预支金额数,自动扣去服务费、平台使用费、计算后显示所剩可预支金额数。
三、预支时间：
前一月发薪日后一天开始可以预支下一月的工资直至下月发薪日截止。最长为31天。
四、预支方式：
1.登陆企业微信号,或网站自行申请。
2.发放工资日,前往财务，由财务登陆系统代为填写暂支单并打印明细由财务告知、预支工资员工本人的邮箱或短信通知。
3. 如去除各项费用后已预支完当月工资数额，则当月发薪日不再发放工资。如已预支金额不满的当月税后工资,余额部分将会在发薪日自动发放到工资卡。

制定：长河人资                           核实：企业人事,财务
                            </textarea>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>
	<!-- END PAGE BASE CONTENT -->
</body>
</html>