<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qucai.sample.dao.EwalletTxnDao">

	<resultMap id="BaseResultMap" type="com.qucai.sample.entity.EwalletTxn">
		<result column="t_WalletTxn_ID" property="t_WalletTxn_ID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_QRcode" property="t_WalletTxn_QRcode" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_Num" property="t_WalletTxn_Num" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_Vendor" property="t_WalletTxn_Vendor" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_ClearNum" property="t_WalletTxn_ClearNum" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_ClearOrg" property="t_WalletTxn_ClearOrg" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_ApplierPID" property="t_WalletTxn_ApplierPID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_PayerName" property="t_WalletTxn_PayerName" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_PayerID" property="t_WalletTxn_PayerID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_PayerPID" property="t_WalletTxn_PayerPID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_ReceiverName" property="t_WalletTxn_ReceiverName" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_ReceiverID" property="t_WalletTxn_ReceiverID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_ReceiverPID" property="t_WalletTxn_ReceiverPID" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_Mobile" property="t_WalletTxn_Mobile" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_TxnCat" property="t_WalletTxn_TxnCat" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_TxnCurrencyType" property="t_WalletTxn_TxnCurrencyType" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_TxnDate" property="t_WalletTxn_TxnDate" jdbcType="TIMESTAMP" />
		<result column="t_WalletTxn_ProdName" property="t_WalletTxn_ProdName" jdbcType="VARCHAR" />
		<result column="t_WalletTxn_PayDays" property="t_WalletTxn_PayDays" jdbcType="INTEGER" />
		<result column="t_WalletTxn_CreditPayCurrentNum" property="t_WalletTxn_CreditPayCurrentNum" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TotTxnAmount" property="t_WalletTxn_TotTxnAmount" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TopupAmt" property="t_WalletTxn_TopupAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_CryptoTxnAmt" property="t_WalletTxn_CryptoTxnAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_DebitTxnAmt" property="t_WalletTxn_DebitTxnAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_CreditTxnAmt" property="t_WalletTxn_CreditTxnAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_CreditBalanceNum" property="t_WalletTxn_CreditBalanceNum" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_CreditTxnAmtInit" property="t_WalletTxn_CreditTxnAmtInit" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TotalPayAmt" property="t_WalletTxn_TotalPayAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TotallvorchourAmt" property="t_WalletTxn_TotallvorchourAmt" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TotalInterestDays" property="t_WalletTxn_TotalInterestDays" jdbcType="INTEGER" />
		<result column="t_WalletTxn_TxnCounts" property="t_WalletTxn_TxnCounts" jdbcType="INTEGER" />
		<result column="t_WalletTxn_InterestBene" property="t_WalletTxn_InterestBene" jdbcType="DECIMAL" />
		<result column="t_WalletTxn_TreasuryID" property="t_WalletTxn_TreasuryID" jdbcType="INTEGER" />
		<result column="t_WalletTxn_RefundAccNo" property="t_WalletTxn_RefundAccNo" jdbcType="INTEGER" />
		<result column="t_WalletTxn_TotBalance" property="t_WalletTxn_TotBalance" jdbcType="TIMESTAMP" />
        <result column="t_WalletTxn_BalancePrepayNum" property="t_WalletTxn_BalancePrepayNum" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_OverdueRepaymentDate" property="t_WalletTxn_OverdueRepaymentDate" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_PayClear" property="t_WalletTxn_PayClear" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_Overdue" property="t_WalletTxn_Overdue" jdbcType="INTEGER" />
        <result column="t_WalletTxn_OverdueDays" property="t_WalletTxn_OverdueDays" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_RefundAmt" property="t_WalletTxn_RefundAmt" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_PayerEwalletSubstractAmt" property="t_WalletTxn_PayerEwalletSubstractAmt" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_ServiceFee" property="t_WalletTxn_ServiceFee" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_Poundage" property="t_WalletTxn_Poundage" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_TierPoundage" property="t_WalletTxn_TierPoundage" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_DiscountAmt" property="t_WalletTxn_DiscountAmt" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_DiscountBlanceAmt" property="t_WalletTxn_DiscountBlanceAmt" jdbcType="INTEGER" />
        <result column="t_WalletTxn_DiscountAmtCalc" property="t_WalletTxn_DiscountAmtCalc" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_PayerBankAcc" property="t_WalletTxn_PayerBankAcc" jdbcType="INTEGER" />
        <result column="t_WalletTxn_ReceiverBankAcc" property="t_WalletTxn_ReceiverBankAcc" jdbcType="INTEGER" />
        <result column="t_WalletTxn_TxnTimeout" property="t_WalletTxn_TxnTimeout" jdbcType="TIMESTAMP" />
        <result column="t_WalletTxn_Paystatus" property="t_WalletTxn_Paystatus" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_PaymentType" property="t_WalletTxn_PaymentType" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_type" property="t_WalletTxn_type" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_Voucher" property="t_WalletTxn_Voucher" jdbcType="INTEGER" />
        <result column="t_WalletTxn_TotShareProfit" property="t_WalletTxn_TotShareProfit" jdbcType="DECIMAL" />
        <result column="t_WalletTxn_PayerEwalletAddress" property="t_WalletTxn_PayerEwalletAddress" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_ReceiverEwalletAddress" property="t_WalletTxn_ReceiverEwalletAddress" jdbcType="VARCHAR" />
        <result column="t_WalletTxn_PaymentToolID" property="t_WalletTxn_PaymentToolID" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />	
	</resultMap>
	
	<sql id="Base_Column_List">
        a.t_WalletTxn_ID,
        a.t_WalletTxn_QRcode,
        a.t_WalletTxn_Num,
        a.t_WalletTxn_Vendor,
        a.t_WalletTxn_ClearNum,
        a.t_WalletTxn_ClearOrg,
        a.t_WalletTxn_ApplierPID,
        a.t_WalletTxn_PayerName,
        a.t_WalletTxn_PayerID,
        a.t_WalletTxn_PayerPID,
        a.t_WalletTxn_ReceiverName,
        a.t_WalletTxn_ReceiverID,
        a.t_WalletTxn_ReceiverPID,
        a.t_WalletTxn_Mobile,
        a.t_WalletTxn_TxnCat,
        a.t_WalletTxn_TxnCurrencyType,
        a.t_WalletTxn_TxnDate,
        a.t_WalletTxn_ProdName,
        a.t_WalletTxn_PayDays,
        a.t_WalletTxn_CreditPayCurrentNum,
        a.t_WalletTxn_TotTxnAmount,
        a.t_WalletTxn_TopupAmt,
        a.t_WalletTxn_CryptoTxnAmt,
        a.t_WalletTxn_DebitTxnAmt,
        a.t_WalletTxn_CreditTxnAmt,
        a.t_WalletTxn_CreditBalanceNum,
        a.t_WalletTxn_CreditTxnAmtInit,
        a.t_WalletTxn_TotalPayAmt,
        a.t_WalletTxn_TotallvorchourAmt,
        a.t_WalletTxn_TotalInterestDays,
        a.t_WalletTxn_TxnCounts,
        a.t_WalletTxn_InterestBene,
        a.t_WalletTxn_TreasuryID,
        a.t_WalletTxn_RefundAccNo,
        a.t_WalletTxn_TotBalance,
        a.t_WalletTxn_BalancePrepayNum,
        a.t_WalletTxn_OverdueRepaymentDate,
        a.t_WalletTxn_PayClear,
        a.t_WalletTxn_Overdue,
        a.t_WalletTxn_OverdueDays,
        a.t_WalletTxn_RefundAmt,
        a.t_WalletTxn_PayerEwalletSubstractAmt,
        a.t_WalletTxn_ServiceFee,
        a.t_WalletTxn_Poundage,
        a.t_WalletTxn_TierPoundage,
        a.t_WalletTxn_DiscountAmt,
        a.t_WalletTxn_DiscountBlanceAmt,
        a.t_WalletTxn_DiscountAmtCalc,
        a.t_WalletTxn_PayerBankAcc,
        a.t_WalletTxn_ReceiverBankAcc,
        a.t_WalletTxn_TxnTimeout,
        a.t_WalletTxn_Paystatus,
        a.t_WalletTxn_SMS,
        a.t_WalletTxn_PaymentType,
        a.t_WalletTxn_type,
        a.t_WalletTxn_Voucher,
        a.t_WalletTxn_TotShareProfit,
        a.t_WalletTxn_PayerEwalletAddress,
        a.t_WalletTxn_ReceiverEwalletAddress,
        a.t_WalletTxn_PaymentToolID,
		a.platform,
		a.remark,
		a.creator,
		a.create_time,
		a.modifier,
		a.modify_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_ewallettxn_info a
		where a.t_WalletTxn_ID = #{t_WalletTxn_ID,jdbcType=VARCHAR}
		order by a.create_time
	</select>
	
	<select id="selectTotalCredit" resultType="String"
		parameterType="java.lang.String">
		select
		sum(t_WalletTxn_TotTxnAmount)
		from t_ewallettxn_info a
		where a.t_WalletTxn_PayerPID = #{t_WalletTxn_PayerPID,jdbcType=VARCHAR}
	</select>
    
	
	<select id="findSearchList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_ewallettxn_info a
		where 1=1
        <if test="t_WalletTxn_ApplierPID != null">
            and a.t_WalletTxn_ApplierPID like CONCAT('%',#{t_P_ApplierPID},'%')
        </if>
        <if test="t_WalletTxn_PayerName != null">
		and a.t_P_Name like CONCAT('%',#{t_WalletTxn_PayerName},'%')
		</if>	
		<if test="t_WalletTxn_PayerPID != null" >
		and a.t_WalletTxn_PayerPID like CONCAT('%',#{t_WalletTxn_PayerPID},'%')
		</if>
		<if test="t_WalletTxn_PayerName != null">
		and a.t_WalletTxn_PayerName like CONCAT('%',#{t_WalletTxn_PayerName},'%')
		</if>
		<if test="t_WalletTxn_TxnCat != null ">
		and a.t_WalletTxn_TxnCat like CONCAT('%',#{t_WalletTxn_TxnCat},'%')
		</if>
		<if test="t_WalletTxn_TxnCurrencyType != null" >
		and a.t_WalletTxn_TxnCurrencyType like CONCAT('%',#{t_WalletTxn_TxnCurrencyType},'%')
		</if>
		<if test="remark != null" >
		and a.remark like CONCAT('%',#{remark},'%')
		</if>
        order by a.create_time
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_ewallettxn_info
		where t_WalletTxn_ID = #{t_WalletTxn_ID,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insertSelective" parameterType="com.qucai.sample.entity.EwalletTxn">
		insert into t_ewallettxn_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="t_WalletTxn_ID != null">
                t_WalletTxn_ID,
			</if>
			<if test="t_WalletTxn_QRcode != null">
                t_WalletTxn_QRcode,
			</if>
			<if test="t_WalletTxn_Num != null">
                t_WalletTxn_Num,
			</if>
			<if test="t_WalletTxn_Vendor != null">
                t_WalletTxn_Vendor,
			</if>
			<if test="t_WalletTxn_ClearNum != null">
                t_WalletTxn_ClearNum,
			</if>
			<if test="t_WalletTxn_ClearOrg != null">
                t_WalletTxn_ClearOrg,
			</if>
            <if test="t_WalletTxn_ApplierPID != null">
                t_WalletTxn_ApplierPID,
            </if>
			<if test="t_WalletTxn_PayerName != null">
                t_WalletTxn_PayerName,
			</if>
			<if test="t_WalletTxn_PayerID != null">
                t_WalletTxn_PayerID,
			</if>
			<if test="t_WalletTxn_PayerPID != null">
                t_WalletTxn_PayerPID,
			</if>
			<if test="t_WalletTxn_ReceiverName != null">
                t_WalletTxn_ReceiverName,
			</if>
			<if test="t_WalletTxn_ReceiverID != null">
                t_WalletTxn_ReceiverID,
			</if>
			<if test="t_WalletTxn_ReceiverPID != null">
                t_WalletTxn_ReceiverPID,
			</if>
			<if test="t_WalletTxn_Mobile != null">
                t_WalletTxn_Mobile,
			</if>
			<if test="t_WalletTxn_TxnCat != null">
                t_WalletTxn_TxnCat,
			</if>
			<if test="t_WalletTxn_TxnCurrencyType != null">
                t_WalletTxn_TxnCurrencyType,
			</if>
			<if test="t_WalletTxn_TxnDate != null">
                t_WalletTxn_TxnDate,
			</if>
			<if test="t_WalletTxn_ProdName != null">
                t_WalletTxn_ProdName,
			</if>
			<if test="t_WalletTxn_PayDays != null">
                t_WalletTxn_PayDays,
			</if>
			<if test="t_WalletTxn_CreditPayCurrentNum != null">
                t_WalletTxn_CreditPayCurrentNum,
			</if>
			<if test="t_WalletTxn_TotTxnAmount != null">
                t_WalletTxn_TotTxnAmount,
			</if>
			<if test="t_WalletTxn_TopupAmt != null">
                t_WalletTxn_TopupAmt,
			</if>
			<if test="t_WalletTxn_CryptoTxnAmt != null">
                t_WalletTxn_CryptoTxnAmt,
			</if>
			<if test="t_WalletTxn_DebitTxnAmt != null">
                t_WalletTxn_DebitTxnAmt,
			</if>
			<if test="t_WalletTxn_CreditTxnAmt != null">
                t_WalletTxn_CreditTxnAmt,
			</if>
			<if test="t_WalletTxn_CreditBalanceNum != null">
                t_WalletTxn_CreditBalanceNum,
			</if>
			<if test="t_WalletTxn_CreditTxnAmtInit != null">
                t_WalletTxn_CreditTxnAmtInit,
			</if>
			<if test="t_WalletTxn_TotalPayAmt != null">
                t_WalletTxn_TotalPayAmt,
			</if>
			<if test="t_WalletTxn_TotallvorchourAmt != null">
                t_WalletTxn_TotallvorchourAmt,
			</if>
			<if test="t_WalletTxn_TotalInterestDays != null">
                t_WalletTxn_TotalInterestDays,
			</if>
			<if test="t_WalletTxn_TxnCounts != null">
                t_WalletTxn_TxnCounts,
			</if>
			<if test="t_WalletTxn_InterestBene != null">
                t_WalletTxn_InterestBene,
			</if>
			<if test="t_WalletTxn_TreasuryID != null">
                t_WalletTxn_TreasuryID,
			</if>
			<if test="t_WalletTxn_RefundAccNo != null">
                t_WalletTxn_RefundAccNo,
			</if>
			<if test="t_WalletTxn_TotBalance != null">
                t_WalletTxn_TotBalance,
			</if>
            <if test="t_WalletTxn_BalancePrepayNum != null">
                t_WalletTxn_BalancePrepayNum,
            </if>
            <if test="t_WalletTxn_OverdueRepaymentDate != null">
                t_WalletTxn_OverdueRepaymentDate,
            </if>
            <if test="t_WalletTxn_PayClear != null">
                t_WalletTxn_PayClear,
            </if>
            <if test="t_WalletTxn_Overdue != null">
                t_WalletTxn_Overdue,
            </if>
            <if test="t_WalletTxn_OverdueDays != null">
                t_WalletTxn_OverdueDays,
            </if>
            <if test="t_WalletTxn_RefundAmt != null">
                t_WalletTxn_RefundAmt,
            </if>
            <if test="t_WalletTxn_PayerEwalletSubstractAmt != null">
                t_WalletTxn_PayerEwalletSubstractAmt,
            </if>
            <if test="t_WalletTxn_ServiceFee != null">
                t_WalletTxn_ServiceFee,
            </if>
            <if test="t_WalletTxn_Poundage != null">
                t_WalletTxn_Poundage,
            </if>
            <if test="t_WalletTxn_TierPoundage != null">
                t_WalletTxn_TierPoundage,
            </if>
            <if test="t_WalletTxn_DiscountAmt != null">
                t_WalletTxn_DiscountAmt,
            </if>
            <if test="t_WalletTxn_DiscountBlanceAmt != null">
                t_WalletTxn_DiscountBlanceAmt,
            </if>
            <if test="t_WalletTxn_DiscountAmtCalc != null">
                t_WalletTxn_DiscountAmtCalc,
            </if>
            <if test="t_WalletTxn_PayerBankAcc != null">
                t_WalletTxn_PayerBankAcc,
            </if>
            <if test="t_WalletTxn_ReceiverBankAcc != null">
                t_WalletTxn_ReceiverBankAcc,
            </if>
            <if test="t_WalletTxn_TxnTimeout != null">
                t_WalletTxn_TxnTimeout,
            </if>
            <if test="t_WalletTxn_Paystatus != null">
                t_WalletTxn_Paystatus,
            </if>
            <if test="t_WalletTxn_SMS != null">
                t_WalletTxn_SMS,
            </if>
            <if test="t_WalletTxn_PaymentType != null">
                t_WalletTxn_PaymentType,
            </if>
            <if test="t_WalletTxn_type != null">
                t_WalletTxn_type,
            </if>
            <if test="t_WalletTxn_Voucher != null">
                t_WalletTxn_Voucher,
            </if>
            <if test="t_WalletTxn_TotShareProfit != null">
                t_WalletTxn_TotShareProfit,
            </if>
            <if test="t_WalletTxn_PayerEwalletAddress != null">
                t_WalletTxn_PayerEwalletAddress,
            </if>
            <if test="t_WalletTxn_ReceiverEwalletAddress != null">
                t_WalletTxn_ReceiverEwalletAddress,
            </if>
            <if test="t_WalletTxn_PaymentToolID != null">
                t_WalletTxn_PaymentToolID,
            </if>
			<if test="platform != null">
				platform,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modify_time != null">
				modify_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="t_WalletTxn_ID != null">
				#{t_WalletTxn_ID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_QRcode != null">
				#{t_WalletTxn_QRcode,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Num != null">
				#{t_WalletTxn_Num,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Vendor != null">
				#{t_WalletTxn_Vendor,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ClearNum != null">
				#{t_WalletTxn_ClearNum,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ClearOrg != null">
				#{t_WalletTxn_ClearOrg,jdbcType=VARCHAR},
			</if>
            <if test="t_WalletTxn_ApplierPID != null">
                #{t_WalletTxn_ApplierPID,jdbcType=VARCHAR},
            </if>
			<if test="t_WalletTxn_PayerName != null">
				#{t_WalletTxn_PayerName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayerID != null">
				#{t_WalletTxn_PayerID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayerPID != null">
				#{t_WalletTxn_PayerPID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverName != null">
				#{t_WalletTxn_ReceiverName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverID != null">
				#{t_WalletTxn_ReceiverID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverPID != null">
				#{t_WalletTxn_ReceiverPID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Mobile != null">
				#{t_WalletTxn_Mobile,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnCat != null">
				#{t_WalletTxn_TxnCat,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnCurrencyType != null">
				#{t_WalletTxn_TxnCurrencyType,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnDate != null">
				#{t_WalletTxn_TxnDate,jdbcType=TIMESTAMP},
			</if>
			<if test="t_WalletTxn_ProdName != null">
				#{t_WalletTxn_ProdName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayDays != null">
				#{t_WalletTxn_PayDays,jdbcType=INTEGER},
			</if>
			<if test="t_WalletTxn_CreditPayCurrentNum != null">
				#{t_WalletTxn_CreditPayCurrentNum,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotTxnAmount != null">
				#{t_WalletTxn_TotTxnAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TopupAmt != null">
				#{t_WalletTxn_TopupAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CryptoTxnAmt != null">
				#{t_WalletTxn_CryptoTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_DebitTxnAmt != null">
				#{t_WalletTxn_DebitTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditTxnAmt != null">
				#{t_WalletTxn_CreditTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditBalanceNum != null">
				#{t_WalletTxn_CreditBalanceNum,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditTxnAmtInit != null">
				#{t_WalletTxn_CreditTxnAmtInit,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotalPayAmt != null">
				#{t_WalletTxn_TotalPayAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotallvorchourAmt != null">
				#{t_WalletTxn_TotallvorchourAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotalInterestDays != null">
				#{t_WalletTxn_TotalInterestDays,jdbcType=INTEGER},
			</if>
			<if test="t_WalletTxn_TxnCounts != null">
				#{t_WalletTxn_TxnCounts,jdbcType=INTEGER},
			</if>
			<if test="t_WalletTxn_InterestBene != null">
				#{t_WalletTxn_InterestBene,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TreasuryID != null">
				#{t_WalletTxn_TreasuryID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_RefundAccNo != null">
				#{t_WalletTxn_RefundAccNo,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TotBalance != null">
				#{t_WalletTxn_TotBalance,jdbcType=DECIMAL},
			</if>
            <if test="t_WalletTxn_BalancePrepayNum != null">
                #{t_WalletTxn_BalancePrepayNum,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_OverdueRepaymentDate != null">
                #{t_WalletTxn_OverdueRepaymentDate,jdbcType=TIMESTAMP},
            </if>
            <if test="t_WalletTxn_PayClear != null">
                #{t_WalletTxn_PayClear,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_Overdue != null">
                #{t_WalletTxn_Overdue,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_OverdueDays != null">
                #{t_WalletTxn_OverdueDays,jdbcType=INTEGER},
            </if>
            <if test="t_WalletTxn_RefundAmt != null">
                #{t_WalletTxn_RefundAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerEwalletSubstractAmt != null">
                #{t_WalletTxn_PayerEwalletSubstractAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_ServiceFee != null">
                #{t_WalletTxn_ServiceFee,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_Poundage != null">
                #{t_WalletTxn_Poundage,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_TierPoundage != null">
                #{t_WalletTxn_TierPoundage,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_DiscountAmt != null">
                #{t_WalletTxn_DiscountAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_DiscountAmtCalc != null">
                #{t_WalletTxn_DiscountAmtCalc,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerBankAcc != null">
                #{t_WalletTxn_PayerBankAcc,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_ReceiverBankAcc != null">
                #{t_WalletTxn_ReceiverBankAcc,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_TxnTimeout != null">
                #{t_WalletTxn_TxnTimeout,jdbcType=TIMESTAMP},
            </if>
            <if test="t_WalletTxn_Paystatus != null">
                #{t_WalletTxn_Paystatus,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_SMS != null">
                #{t_WalletTxn_SMS,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_PaymentType != null">
                #{t_WalletTxn_PaymentType,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_type != null">
                #{t_WalletTxn_type,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_Voucher != null">
                #{t_WalletTxn_Voucher,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_TotShareProfit != null">
                #{t_WalletTxn_TotShareProfit,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerEwalletAddress != null">
                #{t_WalletTxn_PayerEwalletAddress,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_ReceiverEwalletAddress != null">
                #{t_WalletTxn_ReceiverEwalletAddress,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_PaymentToolID != null">
                #{t_WalletTxn_PaymentToolID,jdbcType=VARCHAR},
            </if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modify_time != null">
				#{modify_time,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>
	
	<select id="findAllList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_ewallettxn_info a
		where 1=1
		<if test="typeEnd != null">
			<![CDATA[ and type <= #{typeEnd} ]]>
		</if>
		<if test="t_P_Company != 'ALL' and t_P_Company != null">
		   and a.t_P_Company = #{t_P_Company,jdbcType=VARCHAR}
		</if>
		<if test="t_WalletTxn_PayerName != null" >
		   and a.t_WalletTxn_PayerName like CONCAT('%',#{t_WalletTxn_PayerName},'%')
		</if>
		order by a.create_time
	</select>

<!-- 
	<select id="findEntResourceGrantAllList" resultMap="ResourceGrantMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />, 
			(
				SELECT
					count(1)
				FROM
					tr_role_resource
				WHERE
					resource_id = a.id
				AND role_id = #{roleId}
			) AS selected
		FROM
			t_resource a
		WHERE a.platform = 1
		order by IFNULL(a.parent_id, ''), a.idx
	</select>
 -->			
	<update id="updateByPrimaryKeySelective" parameterType="com.qucai.sample.entity.PersonalInfo">
		update t_ewallettxn_info
		<set>
			<if test="t_WalletTxn_ID != null">
                t_WalletTxn_ID = #{t_WalletTxn_ID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_QRcode != null">
                t_WalletTxn_QRcode = #{t_WalletTxn_QRcode,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Num != null">
                t_WalletTxn_Num = #{t_WalletTxn_Num,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Vendor != null">
                t_WalletTxn_Vendor = #{t_WalletTxn_Vendor,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ClearNum != null">
                t_WalletTxn_ClearNum = #{t_WalletTxn_ClearNum,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ClearOrg != null">
                t_WalletTxn_ClearOrg = #{t_WalletTxn_ClearOrg,jdbcType=VARCHAR},
			</if>
            <if test="t_WalletTxn_ApplierPID != null">
                t_WalletTxn_ApplierPID = #{t_WalletTxn_ApplierPID,jdbcType=VARCHAR},
            </if>
			<if test="t_WalletTxn_PayerName != null">
                t_WalletTxn_PayerName = #{t_WalletTxn_PayerName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayerID != null">
                t_WalletTxn_PayerID = #{t_WalletTxn_PayerID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayerPID != null">
                t_WalletTxn_PayerPID = #{t_WalletTxn_PayerPID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverName != null">
                t_WalletTxn_ReceiverName = #{t_WalletTxn_ReceiverName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverID != null">
                t_WalletTxn_ReceiverID = #{t_WalletTxn_ReceiverID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_ReceiverPID != null">
                t_WalletTxn_ReceiverPID = #{t_WalletTxn_ReceiverPID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_Mobile != null">
                t_WalletTxn_Mobile = #{t_WalletTxn_Mobile,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnCat != null">
                t_WalletTxn_TxnCat = #{t_WalletTxn_TxnCat,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnCurrencyType != null">
                t_WalletTxn_TxnCurrencyType = #{t_WalletTxn_TxnCurrencyType,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TxnDate != null">
                t_WalletTxn_TxnDate = #{t_WalletTxn_TxnDate,jdbcType=TIMESTAMP},
			</if>
			<if test="t_WalletTxn_ProdName != null">
                t_WalletTxn_ProdName = #{t_WalletTxn_ProdName,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_PayDays != null">
                t_WalletTxn_PayDays = #{t_WalletTxn_PayDays,jdbcType=INTEGER},
			</if>
			<if test="t_WalletTxn_CreditPayCurrentNum != null">
                t_WalletTxn_CreditPayCurrentNum = #{t_WalletTxn_CreditPayCurrentNum,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotTxnAmount != null">
                t_WalletTxn_TotTxnAmount = #{t_WalletTxn_TotTxnAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TopupAmt != null">
                t_WalletTxn_TopupAmt = #{t_WalletTxn_TopupAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CryptoTxnAmt != null">
                t_WalletTxn_CryptoTxnAmt = #{t_WalletTxn_CryptoTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_DebitTxnAmt != null">
                t_WalletTxn_DebitTxnAmt = #{t_WalletTxn_DebitTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditTxnAmt != null">
                t_WalletTxn_CreditTxnAmt = #{t_WalletTxn_CreditTxnAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditBalanceNum != null">
                t_WalletTxn_CreditBalanceNum = #{t_WalletTxn_CreditBalanceNum,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_CreditTxnAmtInit != null">
                t_WalletTxn_CreditTxnAmtInit = #{t_WalletTxn_CreditTxnAmtInit,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotalPayAmt != null">
                t_WalletTxn_TotalPayAmt = #{t_WalletTxn_TotalPayAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotallvorchourAmt != null">
                t_WalletTxn_TotallvorchourAmt = #{t_WalletTxn_TotallvorchourAmt,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TotalInterestDays != null">
                t_WalletTxn_TotalInterestDays = #{t_WalletTxn_TotalInterestDays,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TxnCounts != null">
                t_WalletTxn_TxnCounts = #{t_WalletTxn_TxnCounts,jdbcType=INTEGER},
			</if>
			<if test="t_WalletTxn_InterestBene != null">
                t_WalletTxn_InterestBene = #{t_WalletTxn_InterestBene,jdbcType=DECIMAL},
			</if>
			<if test="t_WalletTxn_TreasuryID != null">
                t_WalletTxn_TreasuryID = #{t_WalletTxn_TreasuryID,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_RefundAccNo != null">
                t_WalletTxn_RefundAccNo = #{t_WalletTxn_RefundAccNo,jdbcType=VARCHAR},
			</if>
			<if test="t_WalletTxn_TotBalance != null">
                t_WalletTxn_TotBalance = #{t_WalletTxn_TotBalance,jdbcType=DECIMAL},
			</if>
            <if test="t_WalletTxn_BalancePrepayNum != null">
                t_WalletTxn_BalancePrepayNum = #{t_WalletTxn_BalancePrepayNum,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_OverdueRepaymentDate != null">
                t_WalletTxn_OverdueRepaymentDate = #{t_WalletTxn_OverdueRepaymentDate,jdbcType=TIMESTAMP},
            </if>
            <if test="t_WalletTxn_PayClear != null">
                t_WalletTxn_PayClear = #{t_WalletTxn_PayClear,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_Overdue != null">
                t_WalletTxn_Overdue = #{t_WalletTxn_Overdue,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_OverdueDays != null">
                t_WalletTxn_OverdueDays = #{t_WalletTxn_OverdueDays,jdbcType=INTEGER},
            </if>
            <if test="t_WalletTxn_RefundAmt != null">
                t_WalletTxn_RefundAmt = #{t_WalletTxn_RefundAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerEwalletSubstractAmt != null">
                t_WalletTxn_PayerEwalletSubstractAmt = #{t_WalletTxn_PayerEwalletSubstractAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_ServiceFee != null">
                t_WalletTxn_ServiceFee = #{t_WalletTxn_ServiceFee,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_Poundage != null">
                t_WalletTxn_Poundage = #{t_WalletTxn_Poundage,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_TierPoundage != null">
                t_WalletTxn_TierPoundage = #{t_WalletTxn_TierPoundage,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_DiscountAmt != null">
                t_WalletTxn_DiscountAmt = #{t_WalletTxn_DiscountAmt,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_DiscountBlanceAmt != null">
                t_WalletTxn_DiscountBlanceAmt = #{t_WalletTxn_DiscountBlanceAmt,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_DiscountAmtCalc != null">
                t_WalletTxn_DiscountAmtCalc = #{t_WalletTxn_DiscountAmtCalc,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerBankAcc != null">
                t_WalletTxn_PayerBankAcc = #{t_WalletTxn_PayerBankAcc,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_ReceiverBankAcc != null">
                t_WalletTxn_ReceiverBankAcc = #{t_WalletTxn_ReceiverBankAcc,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_TxnTimeout != null">
                t_WalletTxn_TxnTimeout = #{t_WalletTxn_TxnTimeout,jdbcType=TIMESTAMP},
            </if>
            <if test="t_WalletTxn_Paystatus != null">
                t_WalletTxn_Paystatus = #{t_WalletTxn_Paystatus,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_SMS != null">
                t_WalletTxn_SMS = #{t_WalletTxn_SMS,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_PaymentType != null">
                t_WalletTxn_PaymentType = #{t_WalletTxn_PaymentType,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_type != null">
                t_WalletTxn_type = #{t_WalletTxn_type,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_Voucher != null">
                t_WalletTxn_Voucher = #{t_WalletTxn_Voucher,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_TotShareProfit != null">
                t_WalletTxn_TotShareProfit = #{t_WalletTxn_TotShareProfit,jdbcType=DECIMAL},
            </if>
            <if test="t_WalletTxn_PayerEwalletAddress != null">
                t_WalletTxn_PayerEwalletAddress = #{t_WalletTxn_PayerEwalletAddress,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_ReceiverEwalletAddress != null">
                t_WalletTxn_ReceiverEwalletAddress = #{t_WalletTxn_ReceiverEwalletAddress,jdbcType=VARCHAR},
            </if>
            <if test="t_WalletTxn_PaymentToolID != null">
                t_WalletTxn_PaymentToolID = #{t_WalletTxn_PaymentToolID,jdbcType=VARCHAR},
            </if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				create_time = #{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modify_time != null">
				modify_time = #{modify_time,jdbcType=TIMESTAMP}
			</if>
		</set>
		where t_P_id = #{t_P_id,jdbcType=VARCHAR}
	</update>

   <select id="existPersonalInfoName" resultType="java.lang.Integer"
		parameterType="map">
		select
		count(1)
		from t_ewallettxn_info a
		where a.t_WalletTxn_PayerPID = #{t_WalletTxn_PayerPID}
		<if test="t_WalletTxn_ID != null">
			and a.t_WalletTxn_ID != #{t_WalletTxn_ID}
		</if>
	</select>

</mapper>
 