<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qucai.sample.dao.PasswordResetDao">

	<resultMap id="BaseResultMap" type="com.qucai.sample.entity.PasswordReset">
		<result column="prt_id" property="prt_id" jdbcType="VARCHAR" />
		<result column="prt_user_name" property="prt_user_name" jdbcType="VARCHAR" />
		<result column="prt_ResetPassword" property="prt_ResetPassword" jdbcType="VARCHAR" />
		<result column="prt_real_name" property="prt_real_name" jdbcType="VARCHAR" />
		<result column="prt_company_name" property="prt_company_name" jdbcType="VARCHAR" />
		<result column="prt_PersonaID" property="prt_PersonaID" jdbcType="VARCHAR" />
		<result column="prt_mobile" property="prt_mobile" jdbcType="VARCHAR" />
		<result column="prt_status" property="prt_status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		a.prt_id, 
		a.prt_user_name, 
		a.prt_ResetPassword, 
		a.prt_real_name, 
		a.prt_company_name, 
		a.prt_PersonaID, 
		a.prt_mobile, 
		a.prt_status,
		a.create_time,
		a.modify_time
	</sql>
	
   <select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_passwordreset a
		where a.prt_id = #{prt_id,jdbcType=VARCHAR}
		order by a.create_time
	</select>

	<insert id="insertSelective" parameterType="com.qucai.sample.entity.PasswordReset">
		insert into t_passwordreset
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="prt_id != null">
				prt_id,
			</if>
			<if test="prt_user_name != null">
				prt_user_name,
			</if>
			<if test="prt_ResetPassword != null">
				prt_ResetPassword,
			</if>
			<if test="prt_real_name != null">
				prt_real_name,
			</if>
			<if test="prt_company_name != null">
				prt_company_name,
			</if>
			<if test="prt_PersonaID != null">
				prt_PersonaID,
			</if>
			<if test="prt_mobile != null">
				prt_mobile,
			</if>
			<if test="prt_status != null">
				prt_status,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="modify_time != null">
				modify_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="prt_id != null">
				#{prt_id,jdbcType=VARCHAR},
			</if>
			<if test="prt_user_name != null">
				#{prt_user_name,jdbcType=VARCHAR},
			</if>
			<if test="prt_ResetPassword != null">
				#{prt_ResetPassword,jdbcType=VARCHAR},
			</if>
			<if test="prt_real_name != null">
				#{prt_real_name,jdbcType=VARCHAR},
			</if>
			<if test="prt_company_name != null">
				#{prt_company_name,jdbcType=VARCHAR},
			</if>
			<if test="prt_PersonaID != null">
				#{prt_PersonaID,jdbcType=VARCHAR},
			</if>
			<if test="prt_mobile != null">
				#{prt_mobile,jdbcType=VARCHAR},
			</if>
			<if test="prt_status != null">
				#{prt_status,jdbcType=INTEGER},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="modify_time != null">
				#{modify_time,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>
</mapper>