<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qucai.sample.dao.PersonalInfoDao">

	<resultMap id="BaseResultMap" type="com.qucai.sample.entity.PersonalInfo">
		<result column="t_P_id" property="t_P_id" jdbcType="VARCHAR" />
		<result column="t_P_Name" property="t_P_Name" jdbcType="VARCHAR" />
		<result column="t_P_Sex" property="t_P_Sex" jdbcType="VARCHAR" />
		<result column="t_P_Age" property="t_P_Age" jdbcType="INTEGER" />
		<result column="t_P_PID" property="t_P_PID" jdbcType="VARCHAR" />
		<result column="t_P_Marriage" property="t_P_Marriage" jdbcType="VARCHAR" />
		<result column="t_P_HomeAddress" property="t_P_HomeAddress" jdbcType="VARCHAR" />
		<result column="t_P_Mobil" property="t_P_Mobil" jdbcType="VARCHAR" />
		<result column="t_P_Phone" property="t_P_Phone" jdbcType="VARCHAR" />
		<result column="t_P_Spouse" property="t_P_Spouse" jdbcType="VARCHAR" />
		<result column="t_P_Spouse_Phone" property="t_P_Spouse_Phone" jdbcType="VARCHAR" />
		<result column="t_P_Contact1" property="t_P_Contact1" jdbcType="VARCHAR" />
		<result column="t_P_Contact1Mobil" property="t_P_Contact1Mobil" jdbcType="VARCHAR" />
		<result column="t_P_Payroll" property="t_P_Payroll" jdbcType="VARCHAR" />
		<result column="t_P_ContactMobile2" property="t_P_ContactMobile2" jdbcType="VARCHAR" />
		<result column="t_P_Company" property="t_P_Company" jdbcType="VARCHAR" />
		<result column="t_P_CompanyNum" property="t_P_CompanyNum" jdbcType="VARCHAR" />
		<result column="t_P_SocialSecurityBaseAmount" property="t_P_SocialSecurityBaseAmount" jdbcType="DECIMAL" />
		<result column="t_P_ProvidentFund" property="t_P_ProvidentFund" jdbcType="DECIMAL" />
		<result column="t_P_Employmentstatus" property="t_P_Employmentstatus" jdbcType="VARCHAR" />
		<result column="t_P_EmploymentCategory" property="t_P_EmploymentCategory" jdbcType="VARCHAR" />
		<result column="t_P_WorkYears" property="t_P_WorkYears" jdbcType="INTEGER" />
		<result column="t_P_Probation" property="t_P_Probation" jdbcType="VARCHAR" />
		<result column="t_P_VendorEmployment" property="t_P_VendorEmployment" jdbcType="VARCHAR" />
		<result column="t_P_VendorEmployeeName" property="t_P_VendorEmployeeName" jdbcType="VARCHAR" />
		<result column="t_P_PayrollDebitcardBankName" property="t_P_PayrollDebitcardBankName" jdbcType="VARCHAR" />
		<result column="t_P_PayrollDebitcardNum" property="t_P_PayrollDebitcardNum" jdbcType="VARCHAR" />
		<result column="t_P_NetBaseSalary" property="t_P_NetBaseSalary" jdbcType="DECIMAL" />
		<result column="t_P_CreditPrepaySalaryAmount" property="t_P_CreditPrepaySalaryAmount" jdbcType="DECIMAL" />
		<result column="t_P_PayrollDate" property="t_P_PayrollDate" jdbcType="INTEGER" />
		<result column="t_P_NetMonthlyBonusAmount" property="t_P_NetMonthlyBonusAmount" jdbcType="DECIMAL" />
		<result column="t_P_NetBonusPayDate" property="t_P_NetBonusPayDate" jdbcType="INTEGER" />
		<result column="t_P_SocialSecurityDate" property="t_P_SocialSecurityDate" jdbcType="INTEGER" />
		<result column="t_P_SysUpdateDate" property="t_P_SysUpdateDate" jdbcType="TIMESTAMP" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />	
	</resultMap>
	
	<sql id="Base_Column_List">
		a.t_P_id, 
		a.t_P_Name, 
		a.t_P_Sex, 
		a.t_P_Age, 
		a.t_P_PID,
		a.t_P_Marriage,
		a.t_P_HomeAddress,
		a.t_P_Mobil,
		a.t_P_Phone,
		a.t_P_Spouse,
		a.t_P_Spouse_Phone,
		a.t_P_Contact1,
		a.t_P_Contact1Mobil, 
		a.t_P_Payroll, 
		a.t_P_ContactMobile2, 
		a.t_P_Company, 
		a.t_P_CompanyNum,
		a.t_P_SocialSecurityBaseAmount,
		a.t_P_ProvidentFund,
		a.t_P_Employmentstatus,
		a.t_P_EmploymentCategory,
		a.t_P_WorkYears,
		a.t_P_Probation,
		a.t_P_VendorEmployment,
		a.t_P_VendorEmployeeName, 
		a.t_P_PayrollDebitcardBankName, 
		a.t_P_PayrollDebitcardNum, 
		a.t_P_NetBaseSalary, 
		a.t_P_CreditPrepaySalaryAmount,
		a.t_P_PayrollDate,
		a.t_P_NetMonthlyBonusAmount,
		a.t_P_NetBonusPayDate,
		a.t_P_SocialSecurityDate,
		a.t_P_SysUpdateDate,
		a.platform,
		a.remark,
		a.creator,
		a.create_time,
		a.modifier,
		a.modify_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_personal_info a
		where a.t_P_id = #{t_P_id,jdbcType=VARCHAR}
		order by a.create_time
	</select>
	
	<select id="selectTotalCredit" resultType="String"
		parameterType="java.lang.String">
		select
		sum(t_P_CreditPrepayAmount)
		from t_personal_info a
		where a.t_P_Company = #{t_P_Company,jdbcType=VARCHAR}
	</select>
	
	<select id="findSubCompany" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from t_personal_info a 
		where
 		a.t_P_VendorEmployeeName = #{t_P_VendorCompany,jdbcType=VARCHAR}
		group by a.t_P_Company
	</select>
	
	<select id="findAgencyCompany" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from t_personal_info a 
		where a.t_P_Company = #{t_P_Company,jdbcType=VARCHAR}
		group by a.t_P_VendorEmployeeName
	</select>
	
	<select id="findSearchList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_personal_info a
		where 
		<if test="t_P_Name != null">
		a.t_P_Name like CONCAT('%',#{t_P_Name},'%')
		</if>	
		<if test="t_P_PID != null" >
		and a.t_P_PID like CONCAT('%',#{t_P_PID},'%')
		</if>
		<if test="t_P_Mobil != null">
		and a.t_P_Mobil like CONCAT('%',#{t_P_Mobil},'%')
		</if>
		<if test="t_P_Company != 'ALL' ">
		and a.t_P_Company like CONCAT('%',#{t_P_Company},'%')
		</if>
		<if test="t_P_VendorEmployeeName != null" >
		and a.t_P_VendorEmployeeName like CONCAT('%',#{t_P_VendorEmployeeName},'%')
		</if>
		<if test="remark != null" >
		and a.remark like CONCAT('%',#{remark},'%')
		</if>
        order by a.create_time
	</select>
	
	<select id="findSearchCompanyDist" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_personal_info a
		where 
		<if test="t_P_VendorEmployeeName != null" >
		a.t_P_VendorEmployeeName like CONCAT('%',#{t_P_VendorEmployeeName},'%')
		</if>
		<if test="remark != null" >
		and a.remark like CONCAT('%',#{remark},'%')
		</if>
        group by a.t_P_Company
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_personal_info
		where t_P_id = #{t_P_id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insertSelective" parameterType="com.qucai.sample.entity.PersonalInfo">
		insert into t_personal_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="t_P_id != null">
				t_P_id,
			</if>
			<if test="t_P_Name != null">
				t_P_Name,
			</if>
			<if test="t_P_Sex != null">
				t_P_Sex,
			</if>
			<if test="t_P_Age != null">
				t_P_Age,
			</if>
			<if test="t_P_PID != null">
				t_P_PID,
			</if>
			<if test="t_P_Marriage != null">
				t_P_Marriage,
			</if>
			<if test="t_P_HomeAddress != null">
				t_P_HomeAddress,
			</if>
			<if test="t_P_Mobil != null">
				t_P_Mobil,
			</if>
			<if test="t_P_Phone != null">
				t_P_Phone,
			</if>
			<if test="t_P_Spouse != null">
				t_P_Spouse,
			</if>
			<if test="t_P_Spouse_Phone != null">
				t_P_Spouse_Phone,
			</if>
			<if test="t_P_Contact1 != null">
				t_P_Contact1,
			</if>
			<if test="t_P_Contact1Mobil != null">
				t_P_Contact1Mobil,
			</if>
			<if test="t_P_Payroll != null">
				t_P_Payroll,
			</if>
			<if test="t_P_ContactMobile2 != null">
				t_P_ContactMobile2,
			</if>
			<if test="t_P_Company != null">
				t_P_Company,
			</if>
			<if test="t_P_CompanyNum != null">
				t_P_CompanyNum,
			</if>
			<if test="t_P_SocialSecurityBaseAmount != null">
				t_P_SocialSecurityBaseAmount,
			</if>
			<if test="t_P_ProvidentFund != null">
				t_P_ProvidentFund,
			</if>
			<if test="t_P_Employmentstatus != null">
				t_P_Employmentstatus,
			</if>
			<if test="t_P_EmploymentCategory != null">
				t_P_EmploymentCategory,
			</if>
			<if test="t_P_WorkYears != null">
				t_P_WorkYears,
			</if>
			<if test="t_P_Probation != null">
				t_P_Probation,
			</if>
			<if test="t_P_VendorEmployment != null">
				t_P_VendorEmployment,
			</if>
			<if test="t_P_VendorEmployeeName != null">
				t_P_VendorEmployeeName,
			</if>
			<if test="t_P_PayrollDebitcardBankName != null">
				t_P_PayrollDebitcardBankName,
			</if>
			<if test="t_P_PayrollDebitcardNum != null">
				t_P_PayrollDebitcardNum,
			</if>
			<if test="t_P_NetBaseSalary != null">
				t_P_NetBaseSalary,
			</if>
			<if test="t_P_CreditPrepaySalaryAmount != null">
				t_P_CreditPrepaySalaryAmount,
			</if>
			<if test="t_P_PayrollDate != null">
				t_P_PayrollDate,
			</if>
			<if test="t_P_NetMonthlyBonusAmount != null">
				t_P_NetMonthlyBonusAmount,
			</if>
			<if test="t_P_NetBonusPayDate != null">
				t_P_NetBonusPayDate,
			</if>
			<if test="t_P_SocialSecurityDate != null">
				t_P_SocialSecurityDate,
			</if>
			<if test="t_P_SysUpdateDate != null">
				t_P_SysUpdateDate,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modify_time != null">
				modify_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="t_P_id != null">
				#{t_P_id,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Name != null">
				#{t_P_Name,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Sex != null">
				#{t_P_Sex,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Age != null">
				#{t_P_Age,jdbcType=INTEGER},
			</if>
			<if test="t_P_PID != null">
				#{t_P_PID,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Marriage != null">
				#{t_P_Marriage,jdbcType=VARCHAR},
			</if>
			<if test="t_P_HomeAddress != null">
				#{t_P_HomeAddress,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Mobil != null">
				#{t_P_Mobil,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Phone != null">
				#{t_P_Phone,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Spouse != null">
				#{t_P_Spouse,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Spouse_Phone != null">
				#{t_P_Spouse_Phone,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Contact1 != null">
				#{t_P_Contact1,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Contact1Mobil != null">
				#{t_P_Contact1Mobil,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Payroll != null">
				#{t_P_Payroll,jdbcType=VARCHAR},
			</if>
			<if test="t_P_ContactMobile2 != null">
				#{t_P_ContactMobile2,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Company != null">
				#{t_P_Company,jdbcType=VARCHAR},
			</if>
			<if test="t_P_CompanyNum != null">
				#{t_P_CompanyNum,jdbcType=VARCHAR},
			</if>
			<if test="t_P_SocialSecurityBaseAmount != null">
				#{t_P_SocialSecurityBaseAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_ProvidentFund != null">
				#{t_P_ProvidentFund,jdbcType=DECIMAL},
			</if>
			<if test="t_P_Employmentstatus != null">
				#{t_P_Employmentstatus,jdbcType=VARCHAR},
			</if>
			<if test="t_P_EmploymentCategory != null">
				#{t_P_EmploymentCategory,jdbcType=VARCHAR},
			</if>
			<if test="t_P_WorkYears != null">
				#{t_P_WorkYears,jdbcType=INTEGER},
			</if>
			<if test="t_P_Probation != null">
				#{t_P_Probation,jdbcType=VARCHAR},
			</if>
			<if test="t_P_VendorEmployment != null">
				#{t_P_VendorEmployment,jdbcType=VARCHAR},
			</if>
			<if test="t_P_VendorEmployeeName != null">
				#{t_P_VendorEmployeeName,jdbcType=VARCHAR},
			</if>
			<if test="t_P_PayrollDebitcardBankName != null">
				#{t_P_PayrollDebitcardBankName,jdbcType=VARCHAR},
			</if>
			<if test="t_P_PayrollDebitcardNum != null">
				#{t_P_PayrollDebitcardNum,jdbcType=VARCHAR},
			</if>
			<if test="t_P_NetBaseSalary != null">
				#{t_P_NetBaseSalary,jdbcType=DECIMAL},
			</if>
			<if test="t_P_CreditPrepaySalaryAmount != null">
				#{t_P_CreditPrepaySalaryAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_PayrollDate != null">
				#{t_P_PayrollDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_NetMonthlyBonusAmount != null">
				#{t_P_NetMonthlyBonusAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_NetBonusPayDate != null">
				#{t_P_NetBonusPayDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_SocialSecurityDate != null">
				#{t_P_SocialSecurityDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_SysUpdateDate != null">
				#{t_P_SysUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modify_time != null">
				#{modify_time,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>
	
	<select id="findAllList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_personal_info a
		where 1=1
		<if test="typeEnd != null">
			<![CDATA[ and type <= #{typeEnd} ]]>
		</if>
		<if test="t_P_Company != 'ALL' and t_P_Company != null">
		   and a.t_P_Company = #{t_P_Company,jdbcType=VARCHAR}
		</if>
		<if test="t_P_VendorEmployeeName != null" >
		   and a.t_P_VendorEmployeeName like CONCAT('%',#{t_P_VendorEmployeeName},'%')
		</if>
		order by a.create_time
	</select>

<!-- 
	<select id="findEntResourceGrantAllList" resultMap="ResourceGrantMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />, 
			(
				SELECT
					count(1)
				FROM
					tr_role_resource
				WHERE
					resource_id = a.id
				AND role_id = #{roleId}
			) AS selected
		FROM
			t_resource a
		WHERE a.platform = 1
		order by IFNULL(a.parent_id, ''), a.idx
	</select>
 -->			
	<update id="updateByPrimaryKeySelective" parameterType="com.qucai.sample.entity.PersonalInfo">
		update t_personal_info
		<set>
			<if test="t_P_id != null">
				t_P_id = #{t_P_id,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Name != null">
				t_P_Name = #{t_P_Name,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Sex != null">
				t_P_Sex = #{t_P_Sex,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Age != null">
				t_P_Age = #{t_P_Age,jdbcType=INTEGER},
			</if>
			<if test="t_P_PID != null">
				t_P_PID = #{t_P_PID,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Marriage != null">
				t_P_Marriage = #{t_P_Marriage,jdbcType=VARCHAR},
			</if>
			<if test="t_P_HomeAddress != null">
				t_P_HomeAddress = #{t_P_HomeAddress,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Mobil != null">
				t_P_Mobil = #{t_P_Mobil,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Phone != null">
				t_P_Phone = #{t_P_Phone,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Spouse != null">
				t_P_Spouse = #{t_P_Spouse,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Spouse_Phone != null">
				t_P_Spouse_Phone = #{t_P_Spouse_Phone,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Contact1 != null">
				t_P_Contact1 = #{t_P_Contact1,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Contact1Mobil != null">
				t_P_Contact1Mobil = #{t_P_Contact1Mobil,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Payroll != null">
				t_P_Payroll = #{t_P_Payroll,jdbcType=VARCHAR},
			</if>
			<if test="t_P_ContactMobile2 != null">
				t_P_ContactMobile2 = #{t_P_ContactMobile2,jdbcType=VARCHAR},
			</if>
			<if test="t_P_Company != null">
				t_P_Company = #{t_P_Company,jdbcType=VARCHAR},
			</if>
			<if test="t_P_CompanyNum != null">
				t_P_CompanyNum = #{t_P_CompanyNum,jdbcType=VARCHAR},
			</if>
			<if test="t_P_SocialSecurityBaseAmount != null">
				t_P_SocialSecurityBaseAmount = #{t_P_SocialSecurityBaseAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_ProvidentFund != null">
				t_P_ProvidentFund = #{t_P_ProvidentFund,jdbcType=DECIMAL},
			</if>
			<if test="t_P_Employmentstatus != null">
				t_P_Employmentstatus = #{t_P_Employmentstatus,jdbcType=VARCHAR},
			</if>
			<if test="t_P_EmploymentCategory != null">
				t_P_EmploymentCategory = #{t_P_EmploymentCategory,jdbcType=VARCHAR},
			</if>
			<if test="t_P_WorkYears != null">
				t_P_WorkYears = #{t_P_WorkYears,jdbcType=INTEGER},
			</if>
			<if test="t_P_Probation != null">
				t_P_Probation = #{t_P_Probation,jdbcType=VARCHAR},
			</if>
			<if test="t_P_VendorEmployment != null">
				t_P_VendorEmployment = #{t_P_VendorEmployment,jdbcType=VARCHAR},
			</if>
			<if test="t_P_VendorEmployeeName != null">
				t_P_VendorEmployeeName = #{t_P_VendorEmployeeName,jdbcType=VARCHAR},
			</if>
			<if test="t_P_PayrollDebitcardBankName != null">
				t_P_PayrollDebitcardBankName = #{t_P_PayrollDebitcardBankName,jdbcType=VARCHAR},
			</if>
			<if test="t_P_PayrollDebitcardNum != null">
				t_P_PayrollDebitcardNum = #{t_P_PayrollDebitcardNum,jdbcType=VARCHAR},
			</if>
			<if test="t_P_NetBaseSalary != null">
				t_P_NetBaseSalary = #{t_P_NetBaseSalary,jdbcType=DECIMAL},
			</if>
			<if test="t_P_CreditPrepaySalaryAmount != null">
				t_P_CreditPrepaySalaryAmount = #{t_P_CreditPrepaySalaryAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_PayrollDate != null">
				t_P_PayrollDate = #{t_P_PayrollDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_NetMonthlyBonusAmount != null">
				t_P_NetMonthlyBonusAmount = #{t_P_NetMonthlyBonusAmount,jdbcType=DECIMAL},
			</if>
			<if test="t_P_NetBonusPayDate != null">
				t_P_NetBonusPayDate = #{t_P_NetBonusPayDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_SocialSecurityDate != null">
				t_P_SocialSecurityDate = #{t_P_SocialSecurityDate,jdbcType=INTEGER},
			</if>
			<if test="t_P_SysUpdateDate != null">
				t_P_SysUpdateDate = #{t_P_SysUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				create_time = #{create_time,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modify_time != null">
				modify_time = #{modify_time,jdbcType=TIMESTAMP}
			</if>
		</set>
		where t_P_id = #{t_P_id,jdbcType=VARCHAR}
	</update>

   <select id="existPersonalInfoName" resultType="Integer"
		parameterType="map">
		select
		count(1)
		from t_personal_info a
		where a.t_P_PID = #{t_P_PID}
		<if test="t_P_id != null">
			and a.t_P_id != #{t_P_id}
		</if>
	</select>
	
   <select id="checkPersonalInfoMobil" resultType="Integer"
		parameterType="map">
		select
		count(1)
		from t_personal_info a
		where a.t_P_Mobil = #{t_P_Mobil}
		<if test="t_P_id != null">
			and a.t_P_id != #{t_P_id}
		</if>
	</select>
	
	<update id="updateCompanyStaffsCreditOn" parameterType="com.qucai.sample.entity.PersonalInfo">
		update t_personal_info
		<set>
		t_P_Employmentstatus = "onjob"
		</set>
		where t_personal_info.t_P_Company = #{t_TreasuryDB_OrgName_get,jdbcType=VARCHAR} 
		and t_personal_info.t_P_Mobil not in ( select mobile from t_manager where t_manager.`status` = 0 ) 
		and t_personal_info.t_P_Employmentstatus = "PENDING"
	</update>
	
	<update id="updateCompanyStaffsCreditOff" parameterType="com.qucai.sample.entity.PersonalInfo">
		update t_personal_info
		<set>
		t_P_Employmentstatus = "PENDING"
		</set>
		where t_P_Company = #{t_TreasuryDB_OrgName_get,jdbcType=VARCHAR} and t_P_Employmentstatus = "onjob" 
	</update>
</mapper>
 