<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qucai.sample.dao.ResourceDao">

	<resultMap id="BaseResultMap" type="com.qucai.sample.entity.Resource">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="link" property="link" jdbcType="VARCHAR" />
		<result column="idx" property="idx" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="INTEGER" />
		<result column="shiro_permission" property="shiroPermission"
			jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="ResourceGrantMap" type="com.qucai.sample.vo.ResourceGrant" extends="BaseResultMap">
		<result column="selected" property="selected" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		a.id, a.parent_id, a.name, a.type, a.link, a.idx,
		a.is_show, a.shiro_permission, a.platform, a.remark,
		a.creator,
		a.create_time,
		a.modifier, a.modify_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_resource a
		where a.id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_resource
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insertSelective" parameterType="com.qucai.sample.entity.Resource">
		insert into t_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="link != null">
				link,
			</if>
			<if test="idx != null">
				idx,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
			<if test="shiroPermission != null">
				shiro_permission,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="link != null">
				#{link,jdbcType=VARCHAR},
			</if>
			<if test="idx != null">
				#{idx,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
			<if test="shiroPermission != null">
				#{shiroPermission,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.qucai.sample.entity.Resource">
		update t_resource
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="link != null">
				link = #{link,jdbcType=VARCHAR},
			</if>
			<if test="idx != null">
				idx = #{idx,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
			<if test="shiroPermission != null">
				shiro_permission = #{shiroPermission,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="findAllList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from t_resource a
		where 1=1
		<if test="typeEnd != null">
			<![CDATA[ and type <= #{typeEnd} ]]>
		</if>
		<if test="platform != null">
			<![CDATA[ and platform = #{platform} ]]>
		</if>
		order by IFNULL(a.parent_id, ''), a.idx
	</select>
	
	<select id="findResourceChildId" resultType="java.lang.String"
		parameterType="java.lang.String">
		select getResourceChildList(#{id})
	</select>
	
	<delete id="deleteByPrimaryKeyStr" parameterType="java.lang.String">
		delete from t_resource where find_in_set(id, #{idStr})
	</delete>
	
	<select id="findManagerResourceGrantAllList" resultMap="ResourceGrantMap"
		parameterType="map">
		SELECT
			<include refid="Base_Column_List" />, 
			(
				SELECT
					count(1)
				FROM
					tr_role_resource
				WHERE
					resource_id = a.id
				AND role_id = #{roleId}
			) AS selected
		FROM
			t_resource a
		WHERE a.platform = #{platform}
		order by IFNULL(a.parent_id, ''), a.idx
	</select>
	
	<select id="findEntResourceGrantAllList" resultMap="ResourceGrantMap"
		parameterType="java.lang.String">
		SELECT
			<include refid="Base_Column_List" />, 
			(
				SELECT
					count(1)
				FROM
					tr_role_resource
				WHERE
					resource_id = a.id
				AND role_id = #{roleId}
			) AS selected
		FROM
			t_resource a
		WHERE a.platform = 1
		order by IFNULL(a.parent_id, ''), a.idx
	</select>
	
	<select id="findAuthResourceListByManagerId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_resource a
		left join tr_role_resource rr on a.id = rr.resource_id
		left join t_role r on rr.role_id = r.id
		left join tr_manager_role mr on r.id = mr.role_id
		left join t_manager m on mr.manager_id = m.id
		where m.id = #{managerId}
		and a.platform = 0
		order by a.type, IFNULL(a.parent_id, ''), a.idx
	</select>
	
	<select id="existResourceName" resultType="Integer"
		parameterType="map">
		select
		count(1)
		from t_resource a
		where a.name = #{name}
		<if test="id != null">
			and a.id != #{id}
		</if>
		and a.platform = #{platform}
	</select>
	
</mapper>