<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qucai.sample.dao.TrManagerRoleDao">

	<resultMap id="BaseResultMap" type="com.qucai.sample.entity.TrManagerRole">
		<id column="manager_id" property="managerId" jdbcType="VARCHAR" />
		<id column="role_id" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from tr_manager_role
		where 1 = 1
		<if test="managerId != null">
			and manager_id = #{managerId,jdbcType=VARCHAR}
		</if>
		<if test="roleId != null">
			and role_id = #{roleId,jdbcType=VARCHAR}
		</if>
	</delete>
	
	<insert id="insertSelective" parameterType="com.qucai.sample.entity.TrManagerRole">
		insert into tr_manager_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="managerId != null">
				manager_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="managerId != null">
				#{managerId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
</mapper>