<#include "/common/commonContext.html">
<link href="${ctx}/metronic/global/plugins/weUI/liblist/weui.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/weUI/liblist/jquery-weui.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/weUI/liblist/jquery-weui.min.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/weUI/css/indexPrepaylist.css" rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />