<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu " data-keep-expanded="false"
			data-auto-scroll="true" data-slide-speed="200">
			
				<#list SESSION_MANAGER_RESOURCE as r>
					<#if r.parentId == null>
						<#if r_index != 0>
								</ul>
							</li>
						</#if>
						<li class="nav-item ">
							<a href="javascript:;" class="nav-link nav-toggle"> 
								<i class="icon-settings"></i> <span class="title">${r.name}</span> 
								<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
					<#else>
						<#if r.type == 1 && r.isShow == 1>
							<li class="nav-item ">
								<a href="${r.link}" class="nav-link " onclick="markSelected(this);" target="contentFrame"> 
									<span class="title">${r.name}</span>
								</a>
							</li>
						</#if>
					</#if>
				</#list>
				</ul>
			</li>
		</ul>
		<script>
			function markSelected(obj){
				$("ul.sub-menu").find(".open").first().removeClass("open active");
				$(obj).parent().addClass("open active");
			}
			// https://thesabbir.github.io/simple-line-icons/
			const ul =document.querySelector('.page-sidebar-menu ');
			const lis=ul.querySelectorAll('li');
			Array.from(lis).map(li=>{
				const a = li.querySelector('a');
				const name = a.innerText;
				let icon='icon-settings';
				switch(name) {
					case '企业管理':
						icon='icon-organization';
						break;
					case '个人中心':
						icon='icon-user';
						break;
					default:
						icon='icon-settings';
				}
				debugger;
				const i = a.querySelector('i');
				if(i) {
					i.className=icon;
				} else {
					
				}
			})
		</script>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
