<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu " data-keep-expanded="false"
			data-auto-scroll="true" data-slide-speed="200">
			
				<#list SESSION_MANAGER_RESOURCE as r>
					<#if r.parentId == null>
						<#if r_index != 0>
								</ul>
							</li>
						</#if>
						<li class="nav-item ">
							<a href="javascript:;" class="nav-link nav-toggle"> 
								<i class="icon-settings"></i> <span class="title">${r.name}</span> 
								<span class="arrow"></span>
							</a>
							<ul class="sub-menu">
					<#else>
						<#if r.type == 1 && r.isShow == 1>
							<li class="nav-item ">
								<a href="${r.link}" class="nav-link " onclick="markSelected(this);" target="contentFrame"> 
									<span class="title">${r.name}</span>
								</a>
							</li>
						</#if>
					</#if>
				</#list>
				</ul>
			</li>
		</ul>
		<script>
			function markSelected(obj){
				$("ul.sub-menu").find(".open").first().removeClass("open active");
				$(obj).parent().addClass("open active");
			}
			// https://thesabbir.github.io/simple-line-icons/
			const ul =document.querySelector('.page-sidebar-menu ');
			const iconMap = {
				'首页': 'icon-home',
				'企业管理': 'icon-cloud-upload',
				'个人中心': 'icon-user',
				'企业系统': 'icon-briefcase',
				'个人工资产品':'icon-basket-loaded',
				'资金管理':'icon-wallet',
				'代发工资':'icon-calculator',
				'员工历史交易管理':'icon-graph',
				'系统管理':'icon-settings'
			};
			Array.from(ul.children).map(li=>{
				const a = li.querySelector('a');
				let name = a.innerText;
				if(name) {
					name = name.replace(/(^\s*)|(\s*$)/g, "");
				}
				let icon=iconMap[name] || 'icon-settings';
				const i = a.querySelector('i');
				if(i) {
					i.className=icon;
				} else {

				}
			})
		</script>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
