<#include "/common/commonContext.html">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="${ctx}/metronic/global/plugins/weUI/lib/weui.css"rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/weUI/lib/jquery-weui.min.css"rel="stylesheet" type="text/css" />
<link href="${ctx}/metronic/global/plugins/weUI/css/index.css"rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />


<!-- mask -->

<style>
/* 分页组件输入框的样式，保证高度的统一 */
.pagination .controls input {
	border: 0;
	color: #999;
	width: 30px;
	padding: 0;
	text-align: center;
}
</style>

<link rel="shortcut icon" href="favicon.ico" />