<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
<head>
<meta charset="utf-8" />
<style type="text/css">
.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; 
    overflow:auto;
    height:2000px;
    background-color:#F5F5F5;
    font-family:Microsoft YaHei;
    font-size:30px;
}
</style>
<title></title>
</head>

<body>


	<!-- BEGIN PAGE BASE CONTENT -->
 <textarea class="textarea" readonly>				
      员工预支（灵活薪酬)系统使用说明
							
  本系统为自主方便员工提前支取工资设计，并根据企业人事的薪酬福利制度设定。
  1.本系统是根据每个员工每月发薪日计算费用，越接近当月发薪日，收取的费用越少，或根据企业有福利制度的情况收取少微费用，或免费。
  2.所有成功交易当天可查，所有历史交易都可查询到，并查看状态
  3.服务费，交易费，平台使用费根据企业人事管理制度，福利薪酬制度实时由人事财务更新，并通知到大家。
 
  《如各位员工有任何问题可及时咨询贵企业人事及财务了解详情》
 </textarea>
	<!-- END PAGE BASE CONTENT -->
</body>
</html>