<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>编辑产品</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<#include "/common/cssResource.html"> <#include
"/common/jsResource.html">

<script>
window.onload = function(){
function getDate(){
var today = new Date(); 
var date; 
date = (today.getFullYear()) +"-" + (today.getMonth() + 1 ) + "-" + today.getDate() + "-" + today.toLocaleTimeString(); 
return date;
}
window.setInterval(function(){
document.getElementById("updated_date").value=getDate();
}, 1000);
}
</script>


<script type="text/javascript">
	$(document).ready(function() {
		
        var t_O_listOrg_value = "${organizationInfo.t_O_listOrg}";
        $("#t_O_listOrg option[value='"+t_O_listOrg_value+"']").attr("selected","selected");	
        
        var t_O_OrgStatus_value = "${organizationInfo.t_O_OrgStatus}";
        $("#t_O_OrgStatus option[value='"+t_O_OrgStatus_value+"']").attr("selected","selected");	
		
		var form = $('#inputForm');
		form.validate({
			errorElement : 'span', //default input error message container
			errorClass : 'help-block help-block-error', // default input error message class
			focusInvalid : false, // do not focus the last invalid input
			rules : {
                t_O_EmployeeAmount : {
					required : true,
					digits : true,
					isMobile : true,
					remote : "${ctx}/jqueryValidateController/checkPersonalInfoModil?platform=${platform}" + "&t_P_id=" + $("#t_P_id").val()
				},
				type : {
					required : true
				},
				link : {
					required : true,
					maxlength : 100
				},
				idx : {
					maxlength : 10,
					digits : true,
					required : true
				},
				shiroPermission : {
					maxlength : 50
				}
			},

			messages: {

				t_O_EmployeeAmount:{
					remote : "手机号码已存在",
					required: "请输入手机号码",
					isModile: "请输入一个有效的手机号码"
				},
			},
			invalidHandler : function(event, validator) { //display error alert on form submit              
				App.scrollTo(form, 0);
			},
	
			highlight : function(element) { // hightlight error inputs
				$(element).closest('.form-group').removeClass(
						"has-success").addClass('has-error'); // set error class to the control group   
			},
	
			unhighlight : function(element) { // revert the change done by hightlight
	
			},
	
			success : function(label, element) {
				var icon = $(element).parent('.input-icon').children(
						'i');
				$(element).closest('.form-group').removeClass(
						'has-error').addClass('has-success'); // set success class to the control group
				icon.removeClass("fa-warning").addClass("fa-check");
			},
			
			submitHandler : function(form) {
				var formData = new FormData($('#inputForm')[0]); 
				$.ajax({
					url: "${ctx}/OrganizationInfoController/editOrganizationInfo",
					type: 'POST',  
					data: formData,  
					async: true,  
					cache: false,  
					contentType: false,  
					processData: false,  
					success: function (data) { 
						var result = eval("("+data+")");
						parent.window.location.reload();
					   	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					   	parent.layer.close(index);
					},  
					error: function (data) {  
						var result = eval("("+data+")");
				    	alert(result.msg);
					}  
	            });
			}
		});
		
		$("#dirParent").hide();
		$("#menuParent").hide();
		$("#linkDiv").hide();
		
	});
	
	function typeSelector(selector){
		var typeSelect = $(selector).find("option:selected").val();
		if (typeSelect == "" || typeSelect == "0") {
			$("#dirParent").hide();
			$("#menuParent").hide();
			$("#parentId").val("");
			$("#linkDiv").hide();
			$("#link").val("");
		} else if (typeSelect == "1") {
			$("#dirParent").show();
			$("#menuParent").hide();
			setParentId($("#dirParentSelector"));
			$("#linkDiv").show();
		} else if (typeSelect == "2") {
			$("#dirParent").hide();
			$("#menuParent").show();
			setParentId($("#menuParentSelector"));
			$("#linkDiv").hide();
			$("#link").val("");
		}
	}

	function setParentId(selector) {
		$("#parentId").val($(selector).find("option:selected").val());
	}
	
</script>

</head>
<body>
	<div class="portlet light bordered">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form id="inputForm" class="form-horizontal form-row-seperated">
				<input type="hidden" name="t_O_ID" value="${organizationInfo.t_O_ID}" />	
				<input type="hidden" name="platform" value="${platform}">
 					<div class="form-group">
						<label class="control-label col-sm-3">机构组织代码证<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_CertificationCode" value="${organizationInfo.t_O_CertificationCode}" />
							</div>
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-sm-3">公司名 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgName" value="${organizationInfo.t_O_OrgName}" disabled="disabled" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">企业负责人手机号<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_EmployeeAmount" value="${organizationInfo.t_O_EmployeeAmount}"/>
							</div>
						</div>
					</div>
				<@shiro.hasPermission name="TREASURYINFO_SUPERADMINVIEW">
					 <div class="form-group">
						<label class="control-label col-sm-3">企业评级<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_Category" value="${organizationInfo.t_O_Category}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">是否是代理商<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<select class="bs-select form-control"  name="t_O_listOrg" id="t_O_listOrg" value="${organizationInfo.t_O_listOrg}">
									<option value="on">是</option>
									<option value="off">否</option>
								</select>
							</div>
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-sm-3">经销商企业名<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgPending" value="${organizationInfo.t_O_OrgPending}" />
							</div>
						</div>
					</div>
            </@shiro.hasPermission>
                    <div class="form-group">
						<label class="control-label col-sm-3">企业法人 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgRepresentative" value="${organizationInfo.t_O_OrgRepresentative}" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">支付备付金账户<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgPayrollBankaccount" value="${organizationInfo.t_O_OrgPayrollBankaccount}"  placeholder="请先开通支付备付金账户"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">电银备付金账户<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgChinaebiAcc" value="${organizationInfo.t_O_OrgChinaebiAcc}" placeholder="请先开通电银备付金账户"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">杉德备付金账户<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_O_OrgSandeAcc" value="${organizationInfo.t_O_OrgSandeAcc}" placeholder="请先开通杉德备付金账户"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">是否正常经营<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<select class="bs-select form-control" name="t_O_OrgStatus" id="t_O_OrgStatus" value="${organizationInfo.t_O_OrgStatus}">
									<option value="on">是</option>
									<option value="off">否</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">备注 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i><textarea style="width:1000px;height:88px;" class="form-control"
									name="remark">${organizationInfo.remark}</textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">更新时间</label>
						<div class="col-sm-9">
							<div class="input-icon right">
							  <input type="text" class="form-control" name="t_O_SysUpdateDate" id="updated_date"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-9">
							<button type="submit" class="btn green">提交</button>
							<button type="button" class="btn default" onclick="parent.layer.closeAll();">取消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END FORM-->
	</div>
</body>
</html>