<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>新增产品</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<#include "/common/cssResource.html"> <#include
"/common/jsResource.html">
<script type="text/javascript">
window.onload = function(){
function getDate(){
var today = new Date(); 
var date; 
date = (today.getFullYear()) +"-" + (today.getMonth() + 1 ) + "-" + today.getDate() + "-" + today.toLocaleTimeString(); 
return date;
}
window.setInterval(function(){
document.getElementById("updated_date").value=getDate();
}, 1000);
}
</script>
<script type="text/javascript">
	jQuery.validator.addMethod("minNumber",function(value, element){
		var returnVal = true;
		inputZ=value;
		if(inputZ > 0.5){
			returnVal = false;
			return returnVal;
		}
		var ArrMen= inputZ.split(".");    //截取字符串
			if(ArrMen[1].length>4){    //判断小数点后面的字符串长度
				returnVal = false;
				return returnVal;
			}
		return returnVal;
	},"请输入大于0.000001小于0.5的数");         //验证错误信息

	jQuery.validator.addMethod("tierServiceFee",function(value, element){
		var returnVal = true;
		inputZ=value;
		var format = /^(([1-9]\d*\,[1-9]\d*\,(0.[0-9][1-9]\;))|([1-9]\d*\,[1-9]\d*\,[0-9]\d*\;)){1,}$/;
		if(!format.test(inputZ)){
			returnVal = false;
			return returnVal;
		}
		var FeeAarry = inputZ.split(";");    //截取字符串
		var FeeAarryCount = null
		FeeAarryCount = FeeAarry.length-1
		for(var i=0;i<FeeAarryCount;i++) {
			console.log(FeeAarry[i])
			console.log(FeeAarry[i].split(","))
			var RangeArrary = FeeAarry[i].split(",");
			console.log(RangeArrary[i])
				for (var j=0;j<3;j++){
					switch (j) {
					 case 0 :
					 	var beginNum = RangeArrary[j];
						 if(i>0){
							 if(parseInt(endNum) > parseInt(beginNum)){
							 	var t = i-1
								 var alertmsg = null
								 alertmsg = "第"+i+"组的起始金额必须大于"+"第"+t+"组的上限金额"
								 alert(alertmsg)
								 returnVal = false
								 return returnVal;
							 }else if((parseInt(beginNum) - parseInt(endNum)) !== 1){
									 var t = i-1
									 var alertmsg = null
									 alertmsg = "第"+i+"组的起始金额必须比"+"第"+t+"组的上限金额大1"
									 alert(alertmsg)
									 returnVal = false
									 return returnVal;
								 }
							 }
					 break;
					 case 1 :
					 	var endNum = RangeArrary[j];
					 if(parseInt(endNum) < parseInt(beginNum)){
					 	var t = i + 1
						 var alertmsg = null
						 alertmsg = "第"+t+"组"+","+"区间上限金额必须大于区间起始金额"
						 alert(alertmsg)
						 returnVal = false
						 return returnVal;
					 }
					 break;
					 case 2 :
					 	var chargeFee = RangeArrary[j];
					 	if(chargeFee.indexOf(".") != -1 ){
					 		if(parseFloat(chargeFee) > 1){
								var t = i+1
								var alertmsg = "第"+t+"组"+","+"当收费为收费百分比时，必须为小于1的两位小数"
								alert(alertmsg)
								returnVal = false;
								return returnVal;
						  }
						}
						 if(parseInt(chargeFee) > parseInt(endNum)){
							 var t = i+1
							 var alertmsg = "第"+t+"组"+","+"单笔收费大于支取金额上限额"
							 alert(alertmsg)
							 returnVal = false;
							 return returnVal;
						 }
					 break;
					 defaule:
					 break
					}
				}
		}
		return returnVal;
	}, "输入格式错误，请重新输入" );         //验证错误信息

	$(document).ready(function() {
		
		var form = $('#inputForm');
		form.validate({
			errorElement : 'span', //default input error message container
			errorClass : 'help-block help-block-error', // default input error message class
			focusInvalid : false, // do not focus the last invalid input
			rules : {
				t_FProd_Name : {
					maxlength : 30,
					required : true,
					remote : {
				        url: "${ctx}/jqueryValidateController/checkFinanceProductName?platform=${platform}",
				        type: "post"
					}
				},
				t_FProd_Interest : {
					required: true,
					number: true,
					min:0.0000,
					minNumber: true
				},
				t_FProd_ServiceFee: {
					required: true,
					number: true,
					min: 0.0000,
					minNumber: true
				},
				t_FProd_OverdueInt : {
					required: true,
					number: true,
					min:0.0000,
					minNumber: true
				},
				t_FProd_ETxnAmtLimit : {
					required: true,
					number: true,
					range: [100,50000]
				},
				t_FProd_TierPoundage : {
					required: true,
					tierServiceFee: true
				},
				type : {
					required : true
				}
			},
			messages: {
				t_FProd_Name: {remote : "产品名称已存在"}
			},
			messages: {
				tierServiceFee: {remote : "比例区间收费','分隔两个数额区间和收费数额。';'分割各收费区间递增关系 例：1(起始金额,正整数),1000(上限金额，正整数),0.05(收费比例);1000(起始金额),2000(上限金额),30(单笔收费金额);"}
			},
	
			invalidHandler : function(event, validator) { //display error alert on form submit              
				App.scrollTo(form, 0);
			},
	
			highlight : function(element) { // hightlight error inputs
				$(element).closest('.form-group').removeClass(
						"has-success").addClass('has-error'); // set error class to the control group   
			},
	
			unhighlight : function(element) { // revert the change done by hightlight
	
			},
	
			success : function(label, element) {
				var icon = $(element).parent('.input-icon').children(
						'i');
				$(element).closest('.form-group').removeClass(
						'has-error').addClass('has-success'); // set success class to the control group
				icon.removeClass("fa-warning").addClass("fa-check");
			},
			
			submitHandler : function(form) {
				var formData = new FormData($('#inputForm')[0]); 
				$.ajax({
					url: "${ctx}/FinanceProductController/addFinanceProduct",
					type: 'POST',  
					data: formData,  
					async: true,  
					cache: false,  
					contentType: false,  
					processData: false,  
					success: function (data) { 
						var result = eval("("+data+")");
						alert(result.msg);
						parent.window.location.reload();
					   	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					   	parent.layer.close(index);
					},  
					error: function (data) {  
						var result = eval("("+data+")");
				    	alert(result.msg);
					}  
	            });
			},
		});

		$(window).keydown( function(e) {
			var key = window.event?e.keyCode:e.which;
			if(key.toString() == "13"){
				return false;
			}
		});
		
		$("#dirParent").hide();
		$("#menuParent").hide();
		$("#linkDiv").hide();
	});
	
	function typeSelector(selector){
		var typeSelect = $(selector).find("option:selected").val();
		if (typeSelect == "" || typeSelect == "0") {
			$("#dirParent").hide();
			$("#menuParent").hide();
			$("#parentId").val("");
			$("#linkDiv").hide();
			$("#link").val("");
		} else if (typeSelect == "1") {
			$("#dirParent").show();
			$("#menuParent").hide();
			setParentId($("#dirParentSelector"));
			$("#linkDiv").show();
		} else if (typeSelect == "2") {
			$("#dirParent").hide();
			$("#menuParent").show();
			setParentId($("#menuParentSelector"));
			$("#linkDiv").hide();
			$("#link").val("");
		}
	}

	function setParentId(selector) {
		$("#parentId").val($(selector).find("option:selected").val());
	}
	
	function CheckPrepayInput(){
	    console.log(document.getElementById("t_FProd_MainCat").value);
	    console.log(document.getElementById("PrepayCat").style.display);
	    if (document.getElementById("t_FProd_MainCat").value == "TERMPYMT"){
	        document.getElementById("PrepayCat").style.display = "";
        }else{
            document.getElementById("PrepayCat").style.display = "None";
        }
    }
	
</script>

</head>
<body>
	<div class="portlet light bordered">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form id="inputForm" class="form-horizontal form-row-seperated">
<!--				<input type="hidden" id="parentId" name="parentId"> -->
				<input type="hidden" name="platform" value="${platform}">
				<div class="form-body">
					<div class="form-group">
						<label class="control-label col-sm-3">产品名称 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="30个字内的中英文"
									 placeholder="高孚工资-2021年8月" name="t_FProd_Name" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">预支定价费率(日) <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="填入小于1大于0.0001的小数 例：0.0005*天费率"
									placeholder="0.0001" name="t_FProd_Interest" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">逾期费率<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="超期违约金0.0001*天费率"
									name="t_FProd_OverdueInt" value="0.0001" placeholder="0.0001"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">交易费(融资成本)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="单笔固定比例收费 0.001*金额"
									name="t_FProd_ServiceFee" placeholder="0.001"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">平台使用费(笔)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="平台收取费用 例：1.00 表示每次每笔收费1元"
														  name="t_FProd_Poundage" id="t_FProd_Poundage" placeholder="1.00" value=${t_organization_profile.t_organizationprofile_tierChargeFee} disabled="disabled"/>1.00</input><!-- new-function 收费费率 取profile值 -->
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">单笔最高限额<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control" title="单笔最高限额，例： 1000 则表示一次支取最高金额为1000,最低为10,最高为50000"
									name="t_FProd_ETxnAmtLimit" placeholder="1000"/>
							</div>
						</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-3" title="比例区间收费','分隔两个数额区间和收费数额。';'分割各收费区间递增关系 例：1(起始金额,正整数),1000(上限金额，正整数),0.05(收费比例);1000(起始金额),2000(上限金额),30(单笔收费金额);">区间平台使用费(笔)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_FProd_TierPoundage"  placeholder="0,1000,0.05;1000,2000,30;" value="${financeProduct.t_FProd_TierPoundage}"/>
							</div>
						</div>
					</div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">产品品类<span
                            class="required"> * </span>
                        </label>
                        <div class="col-sm-9">
                            <div class="input-icon right">
                                <i class="fa"></i> <select name="t_FProd_MainCat" id="t_FProd_MainCat" onchange="CheckPrepayInput()">
                                <option value="DEBITPYMT">实付类</option>
                                <option value="TERMPYMT">预支类</option>
                            </select>
                            </div>
                        </div>
                    </div>
					<div name="PrepayCat" id="PrepayCat" class="form-group" style="display:none;">
						<label class="control-label col-sm-3">产品类型<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <select title="按额度预支即授全额预支，工时预支为天工资每天自动累积授额的方式，默认额度预支" name="t_FProd_category" id="t_FProd_category">
								 <option value="VENDOR">额度预支</option>
								 <!-- <option value="PARTTIME">工时预支</option> -->
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">产品状态<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<select class="bs-select form-control" name="t_FProd_Status">
									<option value="on">有效</option>
									<option value="off">失效</option>
								</select>
							</div>
						</div>
					</div>
					<!-- new-function -->
					<@shiro.hasPermission name="TREASURYINFO_AGENTFPRODVIEW">
					<div class="form-group">
						<label class="control-label col-sm-3">产品适用企业<span>
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i>
								<select class="bs-select form-control" data-live-search="true" id="t_FProd_CorpPool" name="t_FProd_CorpPool" />
								<#list t_FProd_CorpPool as t_FProd_CorpPoolList>
								<option value="${t_FProd_CorpPoolList.t_FProd_CorpPool}">${t_FProd_CorpPoolList.t_FProd_CorpPoolName}}</option>
								</#list>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">产品适用人群<span>
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <select  class="bs-select form-control" data-live-search="true" id="t_FProd_PersPool" name="t_FProd_PersPool"/>
								<#list t_FProd_PersPool as t_FProd_PersPoolList>
								<option value="${t_FProd_PersPoolList.t_FProd_CorpPool}">${t_FProd_PersPoolList.t_FProd_PersPoolName}}</option>
							</#list>
							</div>
						</div>
					</div>
				</@shiro.hasPermission>
					<div class="form-group">
						<label class="control-label col-sm-3">备注<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <textarea style="width:1000px;height:88px;" class="form-control"
									name="remark"></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">更新时间</label>
						<div class="col-sm-9">
							<div class="input-icon right">
							 <input type="text" class="form-control" name="t_FProd_SysupdateDate" id="updated_date"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-9">
							<button name="FPRODsubmit" id="FPRODsubmit" type="submit" class="btn green">提交</button>
							<button type="button" class="btn default" onclick="parent.layer.closeAll();">取消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END FORM-->
	</div>

</body>
</html>