<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>新增预支充值</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<#include "/common/cssResource.html"> <#include
"/common/jsResource.html">

<script type="text/javascript">	
	$(document).ready(function() {
		
		var form = $('#inputForm');
		form.validate({
			errorElement : 'span', //default input error message container
			errorClass : 'help-block help-block-error', // default input error message class
			focusInvalid : false, // do not focus the last invalid input
			rules : {
				t_Treasury_PayAmount : {
					required : true,
					decimal : true,
					remote : {
						url: "${ctx}/OrganizationProfileController/checkAgentAccBalance?platform=${platform}",
						type: "post"
					}
				},
				t_Treasury_PayDate : {
					required : true
				},
				t_Treasury_AccPayDate : {
					required : true
				},
				type : {
					required : true
				},
				link : {
					required : true,
					maxlength : 100
				},
				idx : {
					maxlength : 10,
					digits : true,
					required : true
				},
				shiroPermission : {
					maxlength : 50
				}
			},
			messages: {
				t_Treasury_PayAmount: {remote : "您的余额不足，请重新输入金额！"}
			},
	
			invalidHandler : function(event, validator) { //display error alert on form submit              
				App.scrollTo(form, 0);
			},
	
			highlight : function(element) { // hightlight error inputs
				$(element).closest('.form-group').removeClass(
						"has-success").addClass('has-error'); // set error class to the control group   
			},
	
			unhighlight : function(element) { // revert the change done by hightlight
	
			},
	
			success : function(label, element) {
				var icon = $(element).parent('.input-icon').children(
						'i');
				$(element).closest('.form-group').removeClass(
						'has-error').addClass('has-success'); // set success class to the control group
				icon.removeClass("fa-warning").addClass("fa-check");
			},
			
			submitHandler : function(form) {
				var formData = new FormData($('#inputForm')[0]); 
				var index = layer.load(2, {shade: [0.8, '#393D49']});
				$.ajax({
					url: "${ctx}/TreasuryInfoController/addTreasuryPaymentInfo",
					type: 'POST',  
					data: formData,  
					async: true,  
					cache: false,  
					contentType: false,  
					processData: false,  
					success: function (data) { 
						var result = eval("("+data+")");
						alert(result.msg);
						parent.window.location.reload();
					   	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					   	parent.layer.close(index);
					},  
					error: function (data) {  
						var result = eval("("+data+")");
				    	alert(result.msg);
					},
			        complete:function(XMLHttpRequest,textStatus){
			            if(textStatus=='timeout'){  
			                var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");  
			                xmlhttp.abort();   
			                $(".box").html("网络超时,请稍后再试!");
			            }
				        console.log(XMLHttpRequest);
						console.log(textStatus);
					    layer.close(index);
						window.location.reload();
			        } 
	            });
			}
		});
		
		$("#dirParent").hide();
		$("#menuParent").hide();
		$("#linkDiv").hide();
		
	});
	
	function typeSelector(selector){
		var typeSelect = $(selector).find("option:selected").val();
		if (typeSelect == "" || typeSelect == "0") {
			$("#dirParent").hide();
			$("#menuParent").hide();
			$("#parentId").val("");
			$("#linkDiv").hide();
			$("#link").val("");
		} else if (typeSelect == "1") {
			$("#dirParent").show();
			$("#menuParent").hide();
			setParentId($("#dirParentSelector"));
			$("#linkDiv").show();
		} else if (typeSelect == "2") {
			$("#dirParent").hide();
			$("#menuParent").show();
			setParentId($("#menuParentSelector"));
			$("#linkDiv").hide();
			$("#link").val("");
		}
	}

	function balcheck(){
		$.ajax({
			url:"${ctx}/OrganizationProfileController/checkAgentAccBalance?platform=" + $("#platform").val
			+ 't_Treasury_PayAmount=' + $("#t_Treasury_PayAmount").val,
			type: 'POST',
			data: formData,
			async: true,
			cache: false,
			contentType: false,
			processData: false,
			success: function (data) {
				var result = eval("("+data+")");
				alert(result.msg);
				parent.window.location.reload();
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
				parent.layer.close(index);
			},
			error: function (data) {
				var result = eval("("+data+")");
				alert(result.msg);
			},
			// complete:function(XMLHttpRequest,textStatus){
			// 	if(textStatus=='timeout'){
			// 		var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
			// 		xmlhttp.abort();
			// 		$(".box").html("网络超时,请稍后再试!");
			// 	}
			// 	console.log(XMLHttpRequest);
			// 	console.log(textStatus);
			// 	layer.close(index);
			// 	window.location.reload();
			// }
		});
	}

	function setParentId(selector) {
		$("#parentId").val($(selector).find("option:selected").val());
	}
	/*
	function OrgChange() {
			$.ajax({
				url: "${ctx}/TreasuryInfoController/orgchange?orgName=" + $("#t_O_OrgName").val(),
				type: 'POST',
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function(dataSMSC) {
					var result = eval("(" + dataSMSC + ")");
					if(result.ret == "0" && result.t_Treasury_PrepayAccNum !== "") {
						$("t_Treasury_PrepayAccNum").val(result.t_Treasury_PrepayAccNum);
					} else {
						$.toptip('获取支付账户月失败', 'error');
					}
				},
				error: function(dataSMSC) {
					var result = eval("(" + dataSMSC + ")");
					$.toast(result.msg, "cancel");
				}
			});
		}
	}
*/
	
</script>
</head>
<body>
	<div class="portlet light bordered">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->
			<form id="inputForm" class="form-horizontal form-row-seperated">
<!--				<input type="hidden" id="parentId" name="parentId"> -->
				<input type="hidden" id="platform" name="platform" value="${platform}">
				<div class="form-body">
					<div class="form-group">
					<!-- Company Name List pickup from Company table , dropdownlist -->
						<label class="control-label col-sm-3">公司名 <span
							class="required"> * </span>
						</label>
							<div class="col-sm-3">
								<i class="fa"></i>
								    <select class="selectpicker" data-live-search="true" name="t_Treasury_OrgName" id="t_Treasury_OrgName">
										<#list OrganizationInfo as OrganizationInfoList>
											<option value="${OrganizationInfoList.t_O_OrgName}">${OrganizationInfoList.t_O_OrgName}</option>					
										</#list>
									</select>
							</div>
					</div>
					<@shiro.hasPermission name="TREASURYINFO_SUPERADMINVIEW">
					<div class="form-group">
						<label class="control-label col-sm-3">性客户公司机构组织代码证 <span
							class="required"> * </span>
						</label>
							<div class="col-sm-3">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_OrgNum" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">客户公司银行账号<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_OrgBankNum" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">到款日期 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right" style="padding-left: 0">
								        <i class="fa"></i> <input class="form-control form-control-inline date-picker" type="text" style="width: 300px" placeholder="例：2017-01-01" 
	                                     data-date-format="yyyy-mm-dd" name="t_Treasury_PayDate"/>
							 </div>
						</div>
					</div>
			</@shiro.hasPermission>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">资金数额(充值金额) <span
							class="required"> * </span>
						</label>
                        <div class="col-sm-9">
                            <div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_PayAmount" id="t_Treasury_PayAmount" onchange="javascript:balcheck()"/>
							</div>
						</div>
					</div>
			<@shiro.hasPermission name="TREASURYINFO_SUPERADMINVIEW">
					<div class="form-group">
						<label class="control-label col-sm-3">客户公司出资额<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_OrgPayAmnt" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">本公司出资额 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" id="t_P_Mobil" class="form-control"
									name="t_Treasury_AccPayAmt" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">本公司出款日期<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right" style="padding-left: 0">
								        <i class="fa"></i> <input class="form-control form-control-inline date-picker" type="text" style="width: 300px" placeholder="例：2017-01-01" 
	                                     data-date-format="yyyy-mm-dd" name="t_Treasury_AccPayDate"/>
							 </div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">本公司银行账号<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_AccBankNum" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">支付公司企业备付金账户<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" if="checklen" class="form-control"
									name="t_Treasury_PrepayAccNum" id="t_Treasury_PrepayAccNum" readonly/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">融资数额(充值总数内含)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_FinanceAmt" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">融资银行/企业名<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" id="finInstitution" class="form-control"
									name="t_Treasury_FinanceOrgName" id="t_Treasury_FinanceOrgName"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">融资企业银行账号 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_FinanceOrgBankNum" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">融资利息<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" id="checklen" class="form-control"
									name="t_Treasury_FinanceInterest" id="t_Treasury_FinanceInterest"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">利润分成比例(含平台使用费)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_ProfitSharePct" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-3">利差总(产品/总成本)<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_TotIntMargin" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-3">利差(融资/成本) <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_FinanceMargin" />
							</div>
						</div>
					</div>
		</@shiro.hasPermission>
					<div class="form-group">
						<label class="control-label col-sm-3">注释<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Treasury_Remark" id="t_Treasury_Remark" />
							</div>
						</div>
					</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-9">
							<button type="submit" class="btn green">充值</button>
							<button type="button" class="btn default" onclick="parent.layer.closeAll();">取消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END FORM-->
	</div>
</body>
</html>