<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>新增员工</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<#include "/common/cssResource.html"> <#include
"/common/jsResource.html">

<script type="text/javascript">
jQuery.validator.addMethod("isBaseLimt", function(value, element) { 
    value=parseInt(value);      
    return this.optional(element) || value <= 20000;       
}, "整数且必须小于20000");  

jQuery.validator.addMethod("isPayrollDate", function(value, element) { 
    value=parseInt(value);      
    return this.optional(element) || value <= 28;       
}, "整数且必须小于等于28");  

jQuery.validator.addMethod("isIdCardNo", function(value, element) { 
    return this.optional(element) || idCardNoUtil.checkIdCardNo(value);     
}, "请正确输入您的身份证号码"); 

jQuery.validator.addMethod("IDCard", function(value, element) {     
    var tel =/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;  
    return this.optional(element) || (tel.test(value));  
}, "请输入有效的身份证号码");  

jQuery.validator.addMethod("isMobile", function(value, element) { 
    var length = value.length; 
    var mobile = /^(13[0-9]|14[5-9]|15[012356789]|166|17[0-8]|18[0-9]|19[8-9])[0-9]{8}$/;
    return this.optional(element) || (length == 11 && mobile.test(value)); 
}, "请正确填写您的手机号码");

jQuery.validator.addMethod("isTel", function(value,element) {   
    var length = value.length;   
    var mobile = /^(13[0-9]|14[5-9]|15[012356789]|166|17[0-8]|18[0-9]|19[8-9])[0-9]{8}$/; 
    var tel = /^(\d{3,4}-?)?\d{7,9}$/g;       
    return this.optional(element) || tel.test(value) || (length==11 && mobile.test(value));   
}, "请正确填写您的联系方式"); 

	$(document).ready(function() {
		var form = $('#inputForm');
		form.validate({
			errorElement : 'span', //default input error message container
			errorClass : 'help-block help-block-error', // default input error message class
			focusInvalid : false, // do not focus the last invalid input
			rules : {
				t_P_PID : {
					maxlength : 18,
					required : true,
					IDCard : true,
					remote : "${ctx}/jqueryValidateController/checkPersonalInfoName?platform=${platform}" + "&t_P_id=" + $("#t_P_id").val()
				},
				t_P_Mobil : {
					required : true,
					digits : true,
					isMobile : true,
					remote : "${ctx}/jqueryValidateController/checkPersonalInfoModil?platform=${platform}" + "&t_P_id=" + $("#t_P_id").val()
				},
				type : {
					required : true
				},
				t_P_SalaryBalance : {
					maxlength : 5,
					digits : true
				},
				t_P_PayrollBatchInfo : {
					digits : true,
					isMobile : true
				},
				t_P_Contact2Mobile : {
					digits : true,
					isMobile : true
				},
				t_P_Phone : {
					digits : true,
					isTel : true
				},
				t_P_CurrentDiscBatchAmt : {
					digits : true,
					isMobile : true,
				},
				t_P_NetBaseSalary : {
					required : true,
					isBaseLimt : true
				},
				t_P_PayrollDebitcardNum :{
					required : true,
					creditcard : true
				},
				t_P_PayrollDate :{
					required : true,
					isPayrollDate : true
				},
				link : {
					required : true,
					maxlength : 100
				},
				shiroPermission : {
					maxlength : 50
				}
			},
			
			
			messages: {
				
				t_P_Mobil:{ 
				remote : "手机号码已存在",
            	required: "请输入您的联系电话", 
                isModile: "请输入一个有效的手机号码" 
                }, 
                
                t_P_PID:{
    				remote : "身份证已存在",
                	required :"请输入身份证号",
                	isIdCardNo:"请输入正确的身份证号"
                },
			},
	
			invalidHandler : function(event, validator) { //display error alert on form submit              
				App.scrollTo(form, 0);
			},
	
			highlight : function(element) { // hightlight error inputs
				$(element).closest('.form-group').removeClass(
						"has-success").addClass('has-error'); // set error class to the control group   
			},
	
			unhighlight : function(element) { // revert the change done by hightlight
	
			},
	
			success : function(label, element) {
				var icon = $(element).parent('.input-icon').children(
						'i');
				$(element).closest('.form-group').removeClass(
						'has-error').addClass('has-success'); // set success class to the control group
				icon.removeClass("fa-warning").addClass("fa-check");
			},
			
			submitHandler : function(form) {
				var formData = new FormData($('#inputForm')[0]); 
				$.ajax({
					url: "${ctx}/PersonalInfoController/addPersonalInfo",
					type: 'POST',  
					data: formData,  
					async: true,  
					cache: false,  
					contentType: false,  
					processData: false,  
					success: function (data) { 
						var result = eval("("+data+")");
						alert(result.msg);
						parent.window.location.reload();
					   	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					   	parent.layer.close(index);
					},  
					error: function (data) {  
						var result = eval("("+data+")");
				    	alert(result.msg);
					}  
	            });
			}
		});
		
		$("#dirParent").hide();
		$("#menuParent").hide();
		$("#linkDiv").hide();
		
	});
	
	function typeSelector(selector){
		var typeSelect = $(selector).find("option:selected").val();
		if (typeSelect == "" || typeSelect == "0") {
			$("#dirParent").hide();
			$("#menuParent").hide();
			$("#parentId").val("");
			$("#linkDiv").hide();
			$("#link").val("");
		} else if (typeSelect == "1") {
			$("#dirParent").show();
			$("#menuParent").hide();
			setParentId($("#dirParentSelector"));
			$("#linkDiv").show();
		} else if (typeSelect == "2") {
			$("#dirParent").hide();
			$("#menuParent").show();
			setParentId($("#menuParentSelector"));
			$("#linkDiv").hide();
			$("#link").val("");
		}
	}

	
</script>
</head>
<body>
	<div class="portlet light bordered">
		<div class="portlet-body form">
			<!-- BEGIN FORM-->vz
			<form id="inputForm" class="form-horizontal form-row-seperated">
<!--				<input type="hidden" id="parentId" name="parentId"> -->
				<input type="hidden" name="platform" value="${platform}">
				<div class="form-body">
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券名称 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_Name" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券绑定企业<span
								class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<select class="bs-select form-control" data-live-search="true" name="t_Voucher_OrgInfo" id="t_Voucher_OrgInfo">
								<#list OrganizationInfo as OrganizationInfoList>
								<option value="${OrganizationInfoList.t_O_OrgName}">${OrganizationInfoList.t_O_OrgName}</option>
							</#list>
							</select>
						</div>
					</div>
					<@shiro.hasPermission name="TREASURYINFO_SUPERADMINVIEW">
					<div class="form-group">
						<label class="control-label col-sm-3">代理商企业名<span
								class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<select class="bs-select form-control" data-live-search="true" name="t_Voucher_VendorOrgName" id="t_Voucher_VendorOrgName" onchange="Agentfilter(this)">
								<#list OrganizationInfoAgency as OrganizationInfoList>
								<option value="${OrganizationInfoList.t_O_OrgName}">${OrganizationInfoList.t_O_OrgName}</option>
							</#list>
							</select>
						</div>
					</div>
					</@shiro.hasPermission>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券产品类型<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_ProdCat" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">优惠券供应商名 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_VendorName" id="t_Voucher_VendorName" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券结算号<span
								class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
														  name="t_Voucher_VendorClearNum" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券第三方平台<span
								class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
														  name="t_Voucher_3rdprty" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">优惠券图片 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" id="t_Voucher_Pic" class="form-control"
									name="t_Voucher_Pic" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券链接<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_URL" id="t_Voucher_URL"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券费率<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_Interest" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券预期费率<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" if="checklen" class="form-control"
									name="t_Voucher_OverdueInt" id="t_Voucher_OverdueInt"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券服务费(百分比) <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_ServiceFee" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">手续费<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_Poundage" id="t_Voucher_Poundage"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">单笔限额 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_ETxnAmtLimit" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">区间手续费 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" id="checklen" class="form-control"
									name="t_Voucher_TierPoundage" id="t_Voucher_TierPoundage"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券状态 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_Status" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券更新日期 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_SysupdateDate" id="t_Voucher_SysupdateDate" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券类型<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_category" />
							</div>
						</div>
					</div>
					<@shiro.hasPermission name="TREASURYINFO_SUPERADMINVIEW">
					<div class="form-group">
						<label class="control-label col-sm-3">优惠券适用企业<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_CorpPool" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">优惠券适用人群<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input type="text" class="form-control"
									name="t_Voucher_PersPool" />
							</div>
						</div>
					</div>
					</@shiro.hasPermission>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">优惠券起始日期<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input class="form-control form-control-inline date-picker" type="text" class="form-control" id="t_Voucher_StartDate"
									name="t_Voucher_StartDate" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" style="color:red;background-color:yellow;">优惠券结束日期<span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i> <input class="form-control form-control-inline date-picker" type="text"class="form-control"
									name="t_Voucher_EndDate" id="t_Voucher_EndDate"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">备注 <span
							class="required"> * </span>
						</label>
						<div class="col-sm-9">
							<div class="input-icon right">
								<i class="fa"></i><textarea style="width:1000px;height:88px;" class="form-control"
									name="remark"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-sm-3">
						</div>
						<div class="col-sm-9">
							<button type="submit" class="btn green">提交</button>
							<button type="button" class="btn default" onclick="parent.layer.closeAll();">取消</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- END FORM-->
	</div>
</body>
</html>